openapi: 3.2.0
info:
  title: Spoke Team API
  description: This is the documentation of the Spoke Public API HTTP endpoints.
  version: v1
servers:
- url: https://api.spoke.com/public/v1
security:
- BasicAuth: []
tags:
- name: Team
  description: Endpoints to retrieve Custom Stop Properties.
paths:
  /team/customStopProperties:
    get:
      operationId: listCustomStopProperties
      summary: List custom stop properties
      tags:
      - Team
      description: Returns a list of custom stop properties definitions.
      responses:
        '200':
          description: The set of custom stop properties.
          content:
            application/json:
              schema:
                type: object
                properties:
                  customStopProperties:
                    type: array
                    items:
                      $ref: '#/components/schemas/customStopPropertySchema'
                    description: The set of custom stop properties.
                required:
                - customStopProperties
                definitions:
                  customStopPropertySchema:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The custom stop property id
                      name:
                        type: string
                        description: The name of the custom stop property
                      visibleToDrivers:
                        type: boolean
                        description: Whether this custom stop property is visible to drivers.
                      visibleToRecipients:
                        type: boolean
                        description: Whether this property is visible to recipients.
                    required:
                    - id
                    - name
                    - visibleToDrivers
                    - visibleToRecipients
                    additionalProperties: false
                    description: The definition of a custom stop property.
                description: The set of custom stop properties.
        '400':
          description: Query parameters are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Query parameters are invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Feature not included in your team subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    enum:
                    - feature_not_in_subscription
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Feature not included in your team subscription
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /team/customStopProperties/{customStopPropertyId}:
    get:
      operationId: getCustomStopProperty
      summary: Retrieve a custom stop property
      tags:
      - Team
      description: Returns a custom stop property definition.
      parameters:
      - schema:
          type: string
          maxLength: 50
        in: path
        name: customStopPropertyId
        required: true
        description: The custom stop property id
      responses:
        '200':
          description: The definition of a custom stop property.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The custom stop property id
                  name:
                    type: string
                    description: The name of the custom stop property
                  visibleToDrivers:
                    type: boolean
                    description: Whether this custom stop property is visible to drivers.
                  visibleToRecipients:
                    type: boolean
                    description: Whether this property is visible to recipients.
                required:
                - id
                - name
                - visibleToDrivers
                - visibleToRecipients
                additionalProperties: false
                description: The definition of a custom stop property.
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Feature not included in your team subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    enum:
                    - feature_not_in_subscription
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Feature not included in your team subscription
        '404':
          description: The provided custom stop property id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    anyOf:
                    - type: string
                      enum:
                      - Custom stop property not found
                    - type: string
                required:
                - message
                description: The provided custom stop property id does not exist
                title: Custom stop property not found
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
components:
  schemas:
    customStopPropertySchema:
      type: object
      properties:
        id:
          type: string
          description: The custom stop property id
        name:
          type: string
          description: The name of the custom stop property
        visibleToDrivers:
          type: boolean
          description: Whether this custom stop property is visible to drivers.
        visibleToRecipients:
          type: boolean
          description: Whether this property is visible to recipients.
      required:
      - id
      - name
      - visibleToDrivers
      - visibleToRecipients
      additionalProperties: false
      description: The definition of a custom stop property.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Use the API key as the username and leave the password empty.
