openapi: 3.2.0
info:
  title: Spoke Depots API
  description: This is the documentation of the Spoke Public API HTTP endpoints.
  version: v1
servers:
- url: https://api.spoke.com/public/v1
security:
- BasicAuth: []
tags:
- name: Depots
  description: 'Endpoints to operate on Depots resources.


    This resource is currently read-only on the API.'
paths:
  /depots:
    post:
      operationId: createDepot
      summary: Create a depot
      tags:
      - Depots
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 2048
                routeOverrides:
                  description: Defines some default parameters for routes originating from this depot
                  type: object
                  properties:
                    startAddress:
                      type: object
                      properties:
                        addressName:
                          description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        addressLineOne:
                          description: The first line of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        addressLineTwo:
                          description: The second line of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        city:
                          description: The city of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 100
                          - type: 'null'
                        state:
                          description: The state of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 100
                          - type: 'null'
                        zip:
                          description: The zip code of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 100
                          - type: 'null'
                        country:
                          description: The country of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 100
                          - type: 'null'
                        latitude:
                          description: The latitude of the address in decimal degrees.
                          anyOf:
                          - type: number
                            minimum: -90
                            maximum: 90
                          - type: 'null'
                        longitude:
                          description: The longitude of the address in decimal degrees.
                          anyOf:
                          - type: number
                            minimum: -180
                            maximum: 180
                          - type: 'null'
                      additionalProperties: false
                    startTime:
                      description: Route start time
                      type: object
                      properties:
                        hour:
                          description: Hour of the day
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        minute:
                          description: Minute of the hour
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                      required:
                      - hour
                      - minute
                      additionalProperties: false
                    endAddress:
                      anyOf:
                      - type: object
                        properties:
                          addressName:
                            description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 255
                            - type: 'null'
                          addressLineOne:
                            description: The first line of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 255
                            - type: 'null'
                          addressLineTwo:
                            description: The second line of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 255
                            - type: 'null'
                          city:
                            description: The city of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          state:
                            description: The state of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          zip:
                            description: The zip code of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          country:
                            description: The country of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          latitude:
                            description: The latitude of the address in decimal degrees.
                            anyOf:
                            - type: number
                              minimum: -90
                              maximum: 90
                            - type: 'null'
                          longitude:
                            description: The longitude of the address in decimal degrees.
                            anyOf:
                            - type: number
                              minimum: -180
                              maximum: 180
                            - type: 'null'
                        additionalProperties: false
                      - type: 'null'
                    endTime:
                      anyOf:
                      - description: Time of day in hours and minutes. Uses a 24 hour clock.
                        type: object
                        properties:
                          hour:
                            description: Hour of the day
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          minute:
                            description: Minute of the hour
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                        required:
                        - hour
                        - minute
                        additionalProperties: false
                      - type: 'null'
                    defaultTimeAtStop:
                      anyOf:
                      - description: Estimated time at the stop
                        type: number
                      - type: 'null'
                    maxStops:
                      anyOf:
                      - description: Maximum number of stops per driver
                        type: number
                      - type: 'null'
                    vehicleType:
                      anyOf:
                      - description: Default vehicle type
                        type: string
                        enum:
                        - bike
                        - scooter
                        - car
                        - small_truck
                        - truck
                        - electric_cargo_bike
                      - type: 'null'
                    roadSide:
                      anyOf:
                      - description: Attempt to visit stops on this side of the road
                        type: string
                        enum:
                        - any
                        - left_only
                        - right_only
                      - type: 'null'
                    roundTrip:
                      anyOf:
                      - description: Return to the startAddress at the end of the route
                        type: boolean
                      - type: 'null'
                  required:
                  - startAddress
                  - startTime
              required:
              - name
              - routeOverrides
              additionalProperties: false
        required: true
      responses:
        '200':
          description: The requested depot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/depotSchema'
                description: The requested depot
        '400':
          description: The request was invalid
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      description: The error code.
                    param:
                      type: string
                      description: The parameter that caused the error.
                    url:
                      type: string
                      description: The URL with more information about the error.
                  required:
                  - message
                  description: The request has errors. Either syntactic or semantic
                - type: object
                  properties:
                    message:
                      type: string
                    code:
                      type: string
                      description: The error code.
                    param:
                      type: string
                    url:
                      type: string
                      description: The URL with more information about the error.
                  required:
                  - message
                  - param
                  description: A provided route override parameter was invalid.
                  title: Route override was invalid
                description: The request was invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    get:
      operationId: listDepots
      summary: List Depots
      tags:
      - Depots
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 255
        in: query
        name: pageToken
        required: false
        description: The page token to continue from.
      - schema:
          default: 20
          type: number
          minimum: 1
          maximum: 20
        in: query
        name: maxPageSize
        required: false
        description: The maximum number of depots to return.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  depots:
                    type: array
                    items:
                      $ref: '#/components/schemas/depotSchema'
                    description: The depots.
                  nextPageToken:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The next page token.
                required:
                - depots
                - nextPageToken
                definitions:
                  depotSchema:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
                        description: The depot id, in the format `depots/<id>`
                      name:
                        type: string
                        description: The name of the depot.
                      routeOverrides:
                        anyOf:
                        - type: object
                          properties:
                            startTime:
                              type: object
                              properties:
                                hour:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                  description: Hour of the day
                                minute:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                  description: Minute of the hour
                              required:
                              - hour
                              - minute
                              additionalProperties: false
                              description: Default route start time.
                            startAddress:
                              type: object
                              properties:
                                address:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                  description: The full address.
                                addressLineOne:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                  description: The first line of the address.
                                addressLineTwo:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                  description: The second line of the address.
                                latitude:
                                  anyOf:
                                  - type: number
                                  - type: 'null'
                                  description: Latitude coordinate of the depot in decimal degrees.
                                longitude:
                                  anyOf:
                                  - type: number
                                  - type: 'null'
                                  description: Longitude coordinate of the depot in decimal degrees.
                                placeId:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                  description: A Google PlaceID identifying the location of the depot.
                                countryCode:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                  description: The country code of the address.
                              required:
                              - address
                              - addressLineOne
                              - addressLineTwo
                              - latitude
                              - longitude
                              - placeId
                              - countryCode
                              description: The default start address for routes originating from this depot.
                            defaultTimeAtStop:
                              anyOf:
                              - type: number
                              - type: 'null'
                              description: Estimated time at stop in seconds.
                            endAddress:
                              anyOf:
                              - type: object
                                properties:
                                  address:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                    description: The full address.
                                  addressLineOne:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                    description: The first line of the address.
                                  addressLineTwo:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                    description: The second line of the address.
                                  latitude:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                    description: Latitude coordinate of the depot in decimal degrees.
                                  longitude:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                    description: Longitude coordinate of the depot in decimal degrees.
                                  placeId:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                    description: A Google PlaceID identifying the location of the depot.
                                  countryCode:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                    description: The country code of the address.
                                required:
                                - address
                                - addressLineOne
                                - addressLineTwo
                                - latitude
                                - longitude
                                - placeId
                                - countryCode
                                description: The default end address for routes originating from this depot (if empty, assume a round-trip).
                              - type: 'null'
                            endTime:
                              anyOf:
                              - type: object
                                properties:
                                  hour:
                                    type: integer
                                    minimum: -9007199254740991
                                    maximum: 9007199254740991
                                    description: Hour of the day
                                  minute:
                                    type: integer
                                    minimum: -9007199254740991
                                    maximum: 9007199254740991
                                    description: Minute of the hour
                                required:
                                - hour
                                - minute
                                additionalProperties: false
                                description: Default route end time.
                              - type: 'null'
                            maxStops:
                              anyOf:
                              - type: number
                              - type: 'null'
                              description: Max stops assigned to each driver
                            roadSide:
                              anyOf:
                              - type: string
                                enum:
                                - any
                                - left_only
                                - right_only
                              - type: 'null'
                              description: The side of the road drivers should stop at.
                            vehicleType:
                              anyOf:
                              - type: string
                                enum:
                                - bike
                                - scooter
                                - car
                                - small_truck
                                - truck
                                - electric_cargo_bike
                              - type: 'null'
                              description: Default vehicle type for new routes from this depot.
                            roundTrip:
                              anyOf:
                              - type: boolean
                              - type: 'null'
                              description: Return to start address at end of route
                          required:
                          - startTime
                          - startAddress
                        - type: 'null'
                    required:
                    - id
                    - name
                    - routeOverrides
                    additionalProperties: false
                    description: A depot.
                description: Success
        '400':
          description: Query parameters are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Query parameters are invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /depots/{depotId}:
    get:
      operationId: getDepot
      summary: Retrieve a depot
      tags:
      - Depots
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: depotId
        required: true
        description: The depot id
      responses:
        '200':
          description: The requested depot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/depotSchema'
                description: The requested depot
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '404':
          description: The provided depot id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Depot not found
                required:
                - message
                description: The provided depot id does not exist
                title: Depot not found
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    delete:
      operationId: deleteDepot
      summary: Remove a depot
      tags:
      - Depots
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: depotId
        required: true
        description: The depot id
      responses:
        '204':
          description: Depot removed successfully
        '400':
          description: The request was invalid
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      description: The error code.
                    param:
                      type: string
                      description: The parameter that caused the error.
                    url:
                      type: string
                      description: The URL with more information about the error.
                  required:
                  - message
                  description: The request has errors. Either syntactic or semantic
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Depot cannot be deleted
                  required:
                  - message
                  description: The depot cannot be deleted because because a pre-condition was not met
                  title: Depot cannot be deleted
                description: The request was invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    patch:
      operationId: updateDepot
      summary: Update a depot
      tags:
      - Depots
      requestBody:
        content:
          application/json:
            schema:
              description: The request body for updating a depot. All the values present in the request will update the depot value; if you wish to update only certain fields, only set them and do not set the others. Any fields not set will not be updated.
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 2048
                routeOverrides:
                  type: object
                  properties:
                    startAddress:
                      type: object
                      properties:
                        addressName:
                          description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        addressLineOne:
                          description: The first line of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        addressLineTwo:
                          description: The second line of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        city:
                          description: The city of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 100
                          - type: 'null'
                        state:
                          description: The state of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 100
                          - type: 'null'
                        zip:
                          description: The zip code of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 100
                          - type: 'null'
                        country:
                          description: The country of the address.
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 100
                          - type: 'null'
                        latitude:
                          description: The latitude of the address in decimal degrees.
                          anyOf:
                          - type: number
                            minimum: -90
                            maximum: 90
                          - type: 'null'
                        longitude:
                          description: The longitude of the address in decimal degrees.
                          anyOf:
                          - type: number
                            minimum: -180
                            maximum: 180
                          - type: 'null'
                      additionalProperties: false
                    startTime:
                      description: Route start time
                      type: object
                      properties:
                        hour:
                          description: Hour of the day
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        minute:
                          description: Minute of the hour
                          type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                      required:
                      - hour
                      - minute
                      additionalProperties: false
                    endAddress:
                      anyOf:
                      - type: object
                        properties:
                          addressName:
                            description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 255
                            - type: 'null'
                          addressLineOne:
                            description: The first line of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 255
                            - type: 'null'
                          addressLineTwo:
                            description: The second line of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 255
                            - type: 'null'
                          city:
                            description: The city of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          state:
                            description: The state of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          zip:
                            description: The zip code of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          country:
                            description: The country of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          latitude:
                            description: The latitude of the address in decimal degrees.
                            anyOf:
                            - type: number
                              minimum: -90
                              maximum: 90
                            - type: 'null'
                          longitude:
                            description: The longitude of the address in decimal degrees.
                            anyOf:
                            - type: number
                              minimum: -180
                              maximum: 180
                            - type: 'null'
                        additionalProperties: false
                      - type: 'null'
                    endTime:
                      anyOf:
                      - description: Time of day in hours and minutes. Uses a 24 hour clock.
                        type: object
                        properties:
                          hour:
                            description: Hour of the day
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          minute:
                            description: Minute of the hour
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                        required:
                        - hour
                        - minute
                        additionalProperties: false
                      - type: 'null'
                    defaultTimeAtStop:
                      anyOf:
                      - description: Estimated time at the stop
                        type: number
                      - type: 'null'
                    maxStops:
                      anyOf:
                      - description: Maximum number of stops per driver
                        type: number
                      - type: 'null'
                    vehicleType:
                      anyOf:
                      - description: Default vehicle type
                        type: string
                        enum:
                        - bike
                        - scooter
                        - car
                        - small_truck
                        - truck
                        - electric_cargo_bike
                      - type: 'null'
                    roadSide:
                      anyOf:
                      - description: Attempt to visit stops on this side of the road
                        type: string
                        enum:
                        - any
                        - left_only
                        - right_only
                      - type: 'null'
                    roundTrip:
                      anyOf:
                      - description: Return to the startAddress at the end of the route
                        type: boolean
                      - type: 'null'
              additionalProperties: false
        description: The request body for updating a depot. All the values present in the request will update the depot value; if you wish to update only certain fields, only set them and do not set the others. Any fields not set will not be updated.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: depotId
        required: true
        description: The depot id
      responses:
        '200':
          description: The updated depot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/depotSchema'
                description: The updated depot
        '400':
          description: The request was invalid
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      description: The error code.
                    param:
                      type: string
                      description: The parameter that caused the error.
                    url:
                      type: string
                      description: The URL with more information about the error.
                  required:
                  - message
                  description: The request has errors. Either syntactic or semantic
                - type: object
                  properties:
                    message:
                      type: string
                    code:
                      type: string
                      description: The error code.
                    param:
                      type: string
                    url:
                      type: string
                      description: The URL with more information about the error.
                  required:
                  - message
                  - param
                  description: A provided route override parameter was invalid.
                  title: Route override was invalid
                description: The request was invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '404':
          description: The provided depot id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Depot not found
                required:
                - message
                description: The provided depot id does not exist
                title: Depot not found
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /depots:import:
    post:
      operationId: importDepots
      summary: Batch import depots
      tags:
      - Depots
      description: Batch import depots. The request body must contain an array of depots to import.
      requestBody:
        content:
          application/json:
            schema:
              description: An array of depots to import in batch. Supports a maximum of 100 depots per request.
              minItems: 1
              maxItems: 100
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                    maxLength: 2048
                  routeOverrides:
                    description: Defines some default parameters for routes originating from this depot
                    type: object
                    properties:
                      startAddress:
                        type: object
                        properties:
                          addressName:
                            description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 255
                            - type: 'null'
                          addressLineOne:
                            description: The first line of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 255
                            - type: 'null'
                          addressLineTwo:
                            description: The second line of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 255
                            - type: 'null'
                          city:
                            description: The city of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          state:
                            description: The state of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          zip:
                            description: The zip code of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          country:
                            description: The country of the address.
                            anyOf:
                            - type: string
                              minLength: 1
                              maxLength: 100
                            - type: 'null'
                          latitude:
                            description: The latitude of the address in decimal degrees.
                            anyOf:
                            - type: number
                              minimum: -90
                              maximum: 90
                            - type: 'null'
                          longitude:
                            description: The longitude of the address in decimal degrees.
                            anyOf:
                            - type: number
                              minimum: -180
                              maximum: 180
                            - type: 'null'
                        additionalProperties: false
                      startTime:
                        description: Route start time
                        type: object
                        properties:
                          hour:
                            description: Hour of the day
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          minute:
                            description: Minute of the hour
                            type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                        required:
                        - hour
                        - minute
                        additionalProperties: false
                      endAddress:
                        anyOf:
                        - type: object
                          properties:
                            addressName:
                              description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineOne:
                              description: The first line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineTwo:
                              description: The second line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            city:
                              description: The city of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            state:
                              description: The state of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            zip:
                              description: The zip code of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            country:
                              description: The country of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            latitude:
                              description: The latitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -90
                                maximum: 90
                              - type: 'null'
                            longitude:
                              description: The longitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -180
                                maximum: 180
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                      endTime:
                        anyOf:
                        - description: Time of day in hours and minutes. Uses a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      defaultTimeAtStop:
                        anyOf:
                        - description: Estimated time at the stop
                          type: number
                        - type: 'null'
                      maxStops:
                        anyOf:
                        - description: Maximum number of stops per driver
                          type: number
                        - type: 'null'
                      vehicleType:
                        anyOf:
                        - description: Default vehicle type
                          type: string
                          enum:
                          - bike
                          - scooter
                          - car
                          - small_truck
                          - truck
                          - electric_cargo_bike
                        - type: 'null'
                      roadSide:
                        anyOf:
                        - description: Attempt to visit stops on this side of the road
                          type: string
                          enum:
                          - any
                          - left_only
                          - right_only
                        - type: 'null'
                      roundTrip:
                        anyOf:
                        - description: Return to the startAddress at the end of the route
                          type: boolean
                        - type: 'null'
                    required:
                    - startAddress
                    - startTime
                required:
                - name
                - routeOverrides
                additionalProperties: false
        description: An array of depots to import in batch. Supports a maximum of 100 depots per request.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: array
                    items:
                      type: string
                      pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
                      description: The id of the depot, in the format `depots/<id>`.
                    description: The ids of the successfully imported depots
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            message:
                              type: string
                              description: The error that occurred during import
                          required:
                          - message
                        depot:
                          type: object
                          properties:
                            name:
                              type: string
                              minLength: 1
                              maxLength: 2048
                            routeOverrides:
                              type: object
                              properties:
                                startAddress:
                                  type: object
                                  properties:
                                    addressName:
                                      anyOf:
                                      - type: string
                                        minLength: 1
                                        maxLength: 255
                                      - type: 'null'
                                      description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                                    addressLineOne:
                                      anyOf:
                                      - type: string
                                        minLength: 1
                                        maxLength: 255
                                      - type: 'null'
                                      description: The first line of the address.
                                    addressLineTwo:
                                      anyOf:
                                      - type: string
                                        minLength: 1
                                        maxLength: 255
                                      - type: 'null'
                                      description: The second line of the address.
                                    city:
                                      anyOf:
                                      - type: string
                                        minLength: 1
                                        maxLength: 100
                                      - type: 'null'
                                      description: The city of the address.
                                    state:
                                      anyOf:
                                      - type: string
                                        minLength: 1
                                        maxLength: 100
                                      - type: 'null'
                                      description: The state of the address.
                                    zip:
                                      anyOf:
                                      - type: string
                                        minLength: 1
                                        maxLength: 100
                                      - type: 'null'
                                      description: The zip code of the address.
                                    country:
                                      anyOf:
                                      - type: string
                                        minLength: 1
                                        maxLength: 100
                                      - type: 'null'
                                      description: The country of the address.
                                    latitude:
                                      anyOf:
                                      - type: number
                                        minimum: -90
                                        maximum: 90
                                      - type: 'null'
                                      description: The latitude of the address in decimal degrees.
                                    longitude:
                                      anyOf:
                                      - type: number
                                        minimum: -180
                                        maximum: 180
                                      - type: 'null'
                                      description: The longitude of the address in decimal degrees.
                                  additionalProperties: false
                                startTime:
                                  type: object
                                  properties:
                                    hour:
                                      type: integer
                                      minimum: -9007199254740991
                                      maximum: 9007199254740991
                                      description: Hour of the day
                                    minute:
                                      type: integer
                                      minimum: -9007199254740991
                                      maximum: 9007199254740991
                                      description: Minute of the hour
                                  required:
                                  - hour
                                  - minute
                                  additionalProperties: false
                                  description: Route start time
                                endAddress:
                                  anyOf:
                                  - type: object
                                    properties:
                                      addressName:
                                        anyOf:
                                        - type: string
                                          minLength: 1
                                          maxLength: 255
                                        - type: 'null'
                                        description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                                      addressLineOne:
                                        anyOf:
                                        - type: string
                                          minLength: 1
                                          maxLength: 255
                                        - type: 'null'
                                        description: The first line of the address.
                                      addressLineTwo:
                                        anyOf:
                                        - type: string
                                          minLength: 1
                                          maxLength: 255
                                        - type: 'null'
                                        description: The second line of the address.
                                      city:
                                        anyOf:
                                        - type: string
                                          minLength: 1
                                          maxLength: 100
                                        - type: 'null'
                                        description: The city of the address.
                                      state:
                                        anyOf:
                                        - type: string
                                          minLength: 1
                                          maxLength: 100
                                        - type: 'null'
                                        description: The state of the address.
                                      zip:
                                        anyOf:
                                        - type: string
                                          minLength: 1
                                          maxLength: 100
                                        - type: 'null'
                                        description: The zip code of the address.
                                      country:
                                        anyOf:
                                        - type: string
                                          minLength: 1
                                          maxLength: 100
                                        - type: 'null'
                                        description: The country of the address.
                                      latitude:
                                        anyOf:
                                        - type: number
                                          minimum: -90
                                          maximum: 90
                                        - type: 'null'
                                        description: The latitude of the address in decimal degrees.
                                      longitude:
                                        anyOf:
                                        - type: number
                                          minimum: -180
                                          maximum: 180
                                        - type: 'null'
                                        description: The longitude of the address in decimal degrees.
                                    additionalProperties: false
                                  - type: 'null'
                                endTime:
                                  anyOf:
                                  - type: object
                                    properties:
                                      hour:
                                        type: integer
                                        minimum: -9007199254740991
                                        maximum: 9007199254740991
                                        description: Hour of the day
                                      minute:
                                        type: integer
                                        minimum: -9007199254740991
                                        maximum: 9007199254740991
                                        description: Minute of the hour
                                    required:
                                    - hour
                                    - minute
                                    additionalProperties: false
                                  - type: 'null'
                                  description: Route end time
                                defaultTimeAtStop:
                                  anyOf:
                                  - type: number
                                    description: Estimated time at the stop
                                  - type: 'null'
                                maxStops:
                                  anyOf:
                                  - type: number
                                    description: Maximum number of stops per driver
                                  - type: 'null'
                                vehicleType:
                                  anyOf:
                                  - type: string
                                    enum:
                                    - bike
                                    - scooter
                                    - car
                                    - small_truck
                                    - truck
                                    - electric_cargo_bike
                                    description: Default vehicle type
                                  - type: 'null'
                                roadSide:
                                  anyOf:
                                  - type: string
                                    enum:
                                    - any
                                    - left_only
                                    - right_only
                                    description: Attempt to visit stops on this side of the road
                                  - type: 'null'
                                roundTrip:
                                  anyOf:
                                  - type: boolean
                                    description: Return to the startAddress at the end of the route
                                  - type: 'null'
                              required:
                              - startAddress
                              - startTime
                          required:
                          - name
                          - routeOverrides
                          additionalProperties: false
                          description: The depot that failed to import
                      required:
                      - error
                      - depot
                    description: The failed depots
                required:
                - success
                - failed
                description: Success
        '400':
          description: The request has errors. Either syntactic or semantic
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The request has errors. Either syntactic or semantic
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /depots/{depotId}:setMain:
    post:
      operationId: setMainDepot
      summary: Set the main depot for the team
      tags:
      - Depots
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: depotId
        required: true
        description: The depot id
      responses:
        '204':
          description: Depot set as main successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '404':
          description: The provided depot id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Depot not found
                required:
                - message
                description: The provided depot id does not exist
                title: Depot not found
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
components:
  schemas:
    depotIdSchema:
      type: string
      pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
    depotSchema:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/depotIdSchema'
          description: The depot id, in the format `depots/<id>`
        name:
          type: string
          description: The name of the depot.
        routeOverrides:
          anyOf:
          - type: object
            properties:
              startTime:
                type: object
                properties:
                  hour:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: Hour of the day
                  minute:
                    type: integer
                    minimum: -9007199254740991
                    maximum: 9007199254740991
                    description: Minute of the hour
                required:
                - hour
                - minute
                additionalProperties: false
                description: Default route start time.
              startAddress:
                type: object
                properties:
                  address:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The full address.
                  addressLineOne:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The first line of the address.
                  addressLineTwo:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The second line of the address.
                  latitude:
                    anyOf:
                    - type: number
                    - type: 'null'
                    description: Latitude coordinate of the depot in decimal degrees.
                  longitude:
                    anyOf:
                    - type: number
                    - type: 'null'
                    description: Longitude coordinate of the depot in decimal degrees.
                  placeId:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: A Google PlaceID identifying the location of the depot.
                  countryCode:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The country code of the address.
                required:
                - address
                - addressLineOne
                - addressLineTwo
                - latitude
                - longitude
                - placeId
                - countryCode
                description: The default start address for routes originating from this depot.
              defaultTimeAtStop:
                anyOf:
                - type: number
                - type: 'null'
                description: Estimated time at stop in seconds.
              endAddress:
                anyOf:
                - type: object
                  properties:
                    address:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: The full address.
                    addressLineOne:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: The first line of the address.
                    addressLineTwo:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: The second line of the address.
                    latitude:
                      anyOf:
                      - type: number
                      - type: 'null'
                      description: Latitude coordinate of the depot in decimal degrees.
                    longitude:
                      anyOf:
                      - type: number
                      - type: 'null'
                      description: Longitude coordinate of the depot in decimal degrees.
                    placeId:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: A Google PlaceID identifying the location of the depot.
                    countryCode:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: The country code of the address.
                  required:
                  - address
                  - addressLineOne
                  - addressLineTwo
                  - latitude
                  - longitude
                  - placeId
                  - countryCode
                  description: The default end address for routes originating from this depot (if empty, assume a round-trip).
                - type: 'null'
              endTime:
                anyOf:
                - type: object
                  properties:
                    hour:
                      type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                      description: Hour of the day
                    minute:
                      type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                      description: Minute of the hour
                  required:
                  - hour
                  - minute
                  additionalProperties: false
                  description: Default route end time.
                - type: 'null'
              maxStops:
                anyOf:
                - type: number
                - type: 'null'
                description: Max stops assigned to each driver
              roadSide:
                anyOf:
                - type: string
                  enum:
                  - any
                  - left_only
                  - right_only
                - type: 'null'
                description: The side of the road drivers should stop at.
              vehicleType:
                anyOf:
                - type: string
                  enum:
                  - bike
                  - scooter
                  - car
                  - small_truck
                  - truck
                  - electric_cargo_bike
                - type: 'null'
                description: Default vehicle type for new routes from this depot.
              roundTrip:
                anyOf:
                - type: boolean
                - type: 'null'
                description: Return to start address at end of route
            required:
            - startTime
            - startAddress
          - type: 'null'
      required:
      - id
      - name
      - routeOverrides
      additionalProperties: false
      description: A depot.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Use the API key as the username and leave the password empty.
