openapi: 3.2.0
info:
  title: Spoke Drivers API
  description: This is the documentation of the Spoke Public API HTTP endpoints.
  version: v1
servers:
- url: https://api.spoke.com/public/v1
security:
- BasicAuth: []
tags:
- name: Drivers
  description: Endpoints to operate on Drivers resources.
paths:
  /drivers:
    get:
      operationId: listDrivers
      summary: List Drivers
      tags:
      - Drivers
      parameters:
      - schema:
          default: 50
          type: number
          minimum: 1
          maximum: 50
        in: query
        name: maxPageSize
        required: false
        description: The maximum number of drivers to return.
      - schema:
          type: string
          minLength: 1
          maxLength: 255
        in: query
        name: pageToken
        required: false
        description: The page token to continue from.
      - schema:
          type: object
          properties:
            active:
              description: Filter by the active status of the driver. Inactive drivers will not be assigned to any routes.
              type: string
              enum:
              - 'true'
              - 'false'
          additionalProperties: false
        in: query
        name: filter
        required: false
        description: 'The filter to apply to the list of drivers. The filter param is passed like this: `?filter[active]=true` or like this: `?filter.active=true`'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  drivers:
                    type: array
                    items:
                      $ref: '#/components/schemas/driverSchema'
                    description: The drivers.
                  nextPageToken:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The next page token.
                required:
                - drivers
                - nextPageToken
                definitions:
                  driverSchema:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                        description: The driver id, in the format `drivers/<id>`
                      name:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: The name of the driver.
                      email:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: The email of the driver.
                      phone:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: The phone number of the driver.
                      displayName:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: The display name of the driver.
                      active:
                        type: boolean
                        description: Whether the driver membership is active or paused. Paused drivers will not be assigned to any routes.
                      depots:
                        type: array
                        items:
                          type: string
                          pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
                        description: Depots associated with the driver.
                      routeOverrides:
                        type: object
                        properties:
                          startTime:
                            anyOf:
                            - type: object
                              properties:
                                hour:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                  description: Hour of the day
                                minute:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                  description: Minute of the hour
                              required:
                              - hour
                              - minute
                              additionalProperties: false
                              description: Time of day in hours and minutes. Uses a 24 hour clock.
                            - type: 'null'
                            description: Driver's start time.
                          endTime:
                            anyOf:
                            - type: object
                              properties:
                                hour:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                  description: Hour of the day
                                minute:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                  description: Minute of the hour
                              required:
                              - hour
                              - minute
                              additionalProperties: false
                              description: Time of day in hours and minutes. Uses a 24 hour clock.
                            - type: 'null'
                            description: Driver's end time.
                          startAddress:
                            anyOf:
                            - type: object
                              properties:
                                address:
                                  type: string
                                  description: The address of the stop.
                                addressLineOne:
                                  type: string
                                  description: The first line of the address.
                                addressLineTwo:
                                  type: string
                                  description: The second line of the address.
                                latitude:
                                  anyOf:
                                  - type: number
                                    minimum: -90
                                    maximum: 90
                                  - type: 'null'
                                  description: The latitude of the address in decimal degrees.
                                longitude:
                                  anyOf:
                                  - type: number
                                    minimum: -180
                                    maximum: 180
                                  - type: 'null'
                                  description: The longitude of the address in decimal degrees.
                                placeId:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                  description: The identifier of the place corresponding to this stop on Google Places
                                placeTypes:
                                  type: array
                                  items:
                                    type: string
                                  description: Array of strings that is provided by the Google AutoCompleteAPI
                              required:
                              - address
                              - addressLineOne
                              - addressLineTwo
                              - latitude
                              - longitude
                              - placeId
                              - placeTypes
                              additionalProperties: false
                              description: The address of the stop.
                            - type: 'null'
                            description: Driver's start location.
                          endAddress:
                            anyOf:
                            - type: object
                              properties:
                                address:
                                  type: string
                                  description: The address of the stop.
                                addressLineOne:
                                  type: string
                                  description: The first line of the address.
                                addressLineTwo:
                                  type: string
                                  description: The second line of the address.
                                latitude:
                                  anyOf:
                                  - type: number
                                    minimum: -90
                                    maximum: 90
                                  - type: 'null'
                                  description: The latitude of the address in decimal degrees.
                                longitude:
                                  anyOf:
                                  - type: number
                                    minimum: -180
                                    maximum: 180
                                  - type: 'null'
                                  description: The longitude of the address in decimal degrees.
                                placeId:
                                  anyOf:
                                  - type: string
                                  - type: 'null'
                                  description: The identifier of the place corresponding to this stop on Google Places
                                placeTypes:
                                  type: array
                                  items:
                                    type: string
                                  description: Array of strings that is provided by the Google AutoCompleteAPI
                              required:
                              - address
                              - addressLineOne
                              - addressLineTwo
                              - latitude
                              - longitude
                              - placeId
                              - placeTypes
                              additionalProperties: false
                              description: The address of the stop.
                            - type: 'null'
                            description: Driver's end location.
                          maxStops:
                            anyOf:
                            - type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            - type: 'null'
                            description: Maximum number of Stops the Driver can take in a route.
                          drivingSpeed:
                            type: string
                            enum:
                            - slower
                            - average
                            - faster
                            description: The relative driving speed of the driver compared to others.
                          deliverySpeed:
                            type: string
                            enum:
                            - slower
                            - average
                            - faster
                            description: The relative delivery speed of the driver compared to others.
                          vehicleType:
                            anyOf:
                            - type: string
                              enum:
                              - bike
                              - scooter
                              - car
                              - small_truck
                              - truck
                              - electric_cargo_bike
                            - type: 'null'
                            description: The vehicle type the driver will be using for deliveries.
                        required:
                        - startTime
                        - endTime
                        - startAddress
                        - endAddress
                        - maxStops
                        - drivingSpeed
                        - deliverySpeed
                        - vehicleType
                        description: Settings to override default route settings.
                    required:
                    - id
                    - name
                    - email
                    - phone
                    - displayName
                    - active
                    - depots
                    - routeOverrides
                    additionalProperties: false
                    description: A driver.
                description: Success
        '400':
          description: Query parameters are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Query parameters are invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    post:
      operationId: createDriver
      summary: Create a new driver
      tags:
      - Drivers
      description: Create a driver with the given data in your team. Prefer using the batch import endpoint for creating multiple drivers at once as it is more efficient, faster.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: The driver's full name
                  anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 255
                  - type: 'null'
                displayName:
                  description: The name displayed for the driver in the UI
                  anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 255
                  - type: 'null'
                email:
                  description: Driver's email
                  anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 255
                    format: email
                    pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                  - type: 'null'
                phone:
                  description: Driver's phone number
                  anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 255
                  - type: 'null'
                depots:
                  description: The depot IDs associated with the driver in the format `depots/<id>`, duplicates will be ignored. If set to null or not provided, the team's Main depot will be set as driver depot.
                  anyOf:
                  - minItems: 1
                    maxItems: 50
                    type: array
                    items:
                      description: The depot ID, in the format `depots/<id>`
                      type: string
                      pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
                  - type: 'null'
                routeOverrides:
                  description: Overrides for the driver route behavior.
                  anyOf:
                  - type: object
                    properties:
                      startAddress:
                        description: Address of a start location for every route assigned to this driver. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                        anyOf:
                        - type: object
                          properties:
                            addressName:
                              description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineOne:
                              description: The first line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineTwo:
                              description: The second line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            city:
                              description: The city of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            state:
                              description: The state of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            zip:
                              description: The zip code of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            country:
                              description: The country of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            latitude:
                              description: The latitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -90
                                maximum: 90
                              - type: 'null'
                            longitude:
                              description: The longitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -180
                                maximum: 180
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                      endAddress:
                        description: Address of an end location for every route assigned to this driver. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                        anyOf:
                        - type: object
                          properties:
                            addressName:
                              description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineOne:
                              description: The first line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineTwo:
                              description: The second line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            city:
                              description: The city of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            state:
                              description: The state of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            zip:
                              description: The zip code of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            country:
                              description: The country of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            latitude:
                              description: The latitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -90
                                maximum: 90
                              - type: 'null'
                            longitude:
                              description: The longitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -180
                                maximum: 180
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                      startTime:
                        description: The start time for the driver's work day.
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      endTime:
                        description: The end time for the driver's work day.
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      maxStops:
                        description: The maximum number of stops that can be allocated to this driver.
                        anyOf:
                        - type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        - type: 'null'
                      drivingSpeed:
                        anyOf:
                        - default: average
                          description: How fast this driver drives compared to the Team's average
                          type: string
                          enum:
                          - slower
                          - average
                          - faster
                        - type: 'null'
                      deliverySpeed:
                        description: How fast this driver delivers compared to the Team's average
                        anyOf:
                        - default: average
                          type: string
                          enum:
                          - slower
                          - average
                          - faster
                        - type: 'null'
                      vehicleType:
                        description: The type of vehicle used by this driver
                        anyOf:
                        - type: string
                          enum:
                          - bike
                          - scooter
                          - car
                          - small_truck
                          - truck
                          - electric_cargo_bike
                        - type: 'null'
                  - type: 'null'
              additionalProperties: false
      responses:
        '200':
          description: The created driver
          content:
            application/json:
              schema:
                description: The created driver
                $ref: '#/components/schemas/driverSchema'
        '400':
          description: Failed to validate the request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Failed to validate the request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '422':
          description: Failed to create driver.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    anyOf:
                    - type: string
                      enum:
                      - An error occured when creating the driver, but the error is not due to a validation error, instead it is another conflict, check if the provided data is semantically valid.
                    - type: string
                required:
                - message
                description: Failed to create driver.
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /drivers/{driverId}:
    get:
      operationId: getDriver
      summary: Retrieve a driver
      tags:
      - Drivers
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: driverId
        required: true
        description: The driver id
      responses:
        '200':
          description: The requested driver
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/driverSchema'
                description: The requested driver
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '404':
          description: The provided driver id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    anyOf:
                    - type: string
                      enum:
                      - Driver not found
                    - type: string
                required:
                - message
                description: The provided driver id does not exist
                title: Driver not found
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    delete:
      operationId: deleteDriver
      summary: Remove a driver
      tags:
      - Drivers
      description: Removes a driver from your team. If the driver also has dashboard access, the driver will only have their "driver" role revoked; thus not being listed among the team drivers, but will keep their dashboard access.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: driverId
        required: true
        description: The driver id
      responses:
        '204':
          description: Driver removed successfully
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '404':
          description: The provided driver id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    anyOf:
                    - type: string
                      enum:
                      - Driver not found
                    - type: string
                required:
                - message
                description: The provided driver id does not exist
                title: Driver not found
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    patch:
      operationId: updateDriver
      summary: Update a driver
      tags:
      - Drivers
      description: Updates a driver from your team. The member must have the "driver" role.
      requestBody:
        content:
          application/json:
            schema:
              description: The request body for updating a driver.
              type: object
              properties:
                name:
                  description: The driver's full name
                  anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 255
                  - type: 'null'
                displayName:
                  description: The name displayed for the driver in the UI
                  anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 255
                  - type: 'null'
                depots:
                  description: The depot IDs associated with the driver in the format `depots/<id>`, duplicates will be ignored. If set to null or not provided, the team's Main depot will be set as driver depot.
                  anyOf:
                  - minItems: 1
                    maxItems: 50
                    type: array
                    items:
                      description: The depot ID, in the format `depots/<id>`
                      type: string
                      pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
                  - type: 'null'
                routeOverrides:
                  description: Overrides for the driver route behavior.
                  anyOf:
                  - type: object
                    properties:
                      startAddress:
                        description: Address of a start location for every route assigned to this driver. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                        anyOf:
                        - type: object
                          properties:
                            addressName:
                              description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineOne:
                              description: The first line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineTwo:
                              description: The second line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            city:
                              description: The city of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            state:
                              description: The state of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            zip:
                              description: The zip code of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            country:
                              description: The country of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            latitude:
                              description: The latitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -90
                                maximum: 90
                              - type: 'null'
                            longitude:
                              description: The longitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -180
                                maximum: 180
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                      endAddress:
                        description: Address of an end location for every route assigned to this driver. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                        anyOf:
                        - type: object
                          properties:
                            addressName:
                              description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineOne:
                              description: The first line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineTwo:
                              description: The second line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            city:
                              description: The city of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            state:
                              description: The state of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            zip:
                              description: The zip code of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            country:
                              description: The country of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            latitude:
                              description: The latitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -90
                                maximum: 90
                              - type: 'null'
                            longitude:
                              description: The longitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -180
                                maximum: 180
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                      startTime:
                        description: The start time for the driver's work day.
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      endTime:
                        description: The end time for the driver's work day.
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      maxStops:
                        description: The maximum number of stops that can be allocated to this driver.
                        anyOf:
                        - type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        - type: 'null'
                      drivingSpeed:
                        anyOf:
                        - default: average
                          description: How fast this driver drives compared to the Team's average
                          type: string
                          enum:
                          - slower
                          - average
                          - faster
                        - type: 'null'
                      deliverySpeed:
                        description: How fast this driver delivers compared to the Team's average
                        anyOf:
                        - default: average
                          type: string
                          enum:
                          - slower
                          - average
                          - faster
                        - type: 'null'
                      vehicleType:
                        description: The type of vehicle used by this driver
                        anyOf:
                        - type: string
                          enum:
                          - bike
                          - scooter
                          - car
                          - small_truck
                          - truck
                          - electric_cargo_bike
                        - type: 'null'
                  - type: 'null'
              additionalProperties: false
        description: The request body for updating a driver.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: driverId
        required: true
        description: The driver id
      responses:
        '200':
          description: The updated driver
          content:
            application/json:
              schema:
                description: The updated driver
                $ref: '#/components/schemas/driverSchema'
        '400':
          description: Failed to validate the request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Failed to validate the request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '422':
          description: Failed to update driver
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    anyOf:
                    - type: string
                      enum:
                      - An error occured when updating the driver, but the error is not due to a validation error, instead it is another conflict, check if the provided data is semantically valid.
                    - type: string
                required:
                - message
                description: Failed to update driver
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /drivers:import:
    post:
      operationId: importDrivers
      summary: Batch import drivers
      tags:
      - Drivers
      description: Creates multiple drivers in your team. The request body must contain an array of drivers to import.
      requestBody:
        content:
          application/json:
            schema:
              description: An array of driver descriptions to be created in batch.
              minItems: 1
              maxItems: 50
              type: array
              items:
                type: object
                properties:
                  name:
                    description: The driver's full name
                    anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 255
                    - type: 'null'
                  displayName:
                    description: The name displayed for the driver in the UI
                    anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 255
                    - type: 'null'
                  email:
                    description: Driver's email
                    anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 255
                      format: email
                      pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                    - type: 'null'
                  phone:
                    description: Driver's phone number
                    anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 255
                    - type: 'null'
                  depots:
                    description: The depot IDs associated with the driver in the format `depots/<id>`, duplicates will be ignored. If set to null or not provided, the team's Main depot will be set as driver depot.
                    anyOf:
                    - minItems: 1
                      maxItems: 50
                      type: array
                      items:
                        description: The depot ID, in the format `depots/<id>`
                        type: string
                        pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
                    - type: 'null'
                  routeOverrides:
                    description: Overrides for the driver route behavior.
                    anyOf:
                    - type: object
                      properties:
                        startAddress:
                          description: Address of a start location for every route assigned to this driver. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                          anyOf:
                          - type: object
                            properties:
                              addressName:
                                description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 255
                                - type: 'null'
                              addressLineOne:
                                description: The first line of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 255
                                - type: 'null'
                              addressLineTwo:
                                description: The second line of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 255
                                - type: 'null'
                              city:
                                description: The city of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 100
                                - type: 'null'
                              state:
                                description: The state of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 100
                                - type: 'null'
                              zip:
                                description: The zip code of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 100
                                - type: 'null'
                              country:
                                description: The country of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 100
                                - type: 'null'
                              latitude:
                                description: The latitude of the address in decimal degrees.
                                anyOf:
                                - type: number
                                  minimum: -90
                                  maximum: 90
                                - type: 'null'
                              longitude:
                                description: The longitude of the address in decimal degrees.
                                anyOf:
                                - type: number
                                  minimum: -180
                                  maximum: 180
                                - type: 'null'
                            additionalProperties: false
                          - type: 'null'
                        endAddress:
                          description: Address of an end location for every route assigned to this driver. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                          anyOf:
                          - type: object
                            properties:
                              addressName:
                                description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 255
                                - type: 'null'
                              addressLineOne:
                                description: The first line of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 255
                                - type: 'null'
                              addressLineTwo:
                                description: The second line of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 255
                                - type: 'null'
                              city:
                                description: The city of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 100
                                - type: 'null'
                              state:
                                description: The state of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 100
                                - type: 'null'
                              zip:
                                description: The zip code of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 100
                                - type: 'null'
                              country:
                                description: The country of the address.
                                anyOf:
                                - type: string
                                  minLength: 1
                                  maxLength: 100
                                - type: 'null'
                              latitude:
                                description: The latitude of the address in decimal degrees.
                                anyOf:
                                - type: number
                                  minimum: -90
                                  maximum: 90
                                - type: 'null'
                              longitude:
                                description: The longitude of the address in decimal degrees.
                                anyOf:
                                - type: number
                                  minimum: -180
                                  maximum: 180
                                - type: 'null'
                            additionalProperties: false
                          - type: 'null'
                        startTime:
                          description: The start time for the driver's work day.
                          anyOf:
                          - description: Time of day in hours and minutes. Use a 24 hour clock.
                            type: object
                            properties:
                              hour:
                                description: Hour of the day
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              minute:
                                description: Minute of the hour
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                            required:
                            - hour
                            - minute
                            additionalProperties: false
                          - type: 'null'
                        endTime:
                          description: The end time for the driver's work day.
                          anyOf:
                          - description: Time of day in hours and minutes. Use a 24 hour clock.
                            type: object
                            properties:
                              hour:
                                description: Hour of the day
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              minute:
                                description: Minute of the hour
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                            required:
                            - hour
                            - minute
                            additionalProperties: false
                          - type: 'null'
                        maxStops:
                          description: The maximum number of stops that can be allocated to this driver.
                          anyOf:
                          - type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          - type: 'null'
                        drivingSpeed:
                          anyOf:
                          - default: average
                            description: How fast this driver drives compared to the Team's average
                            type: string
                            enum:
                            - slower
                            - average
                            - faster
                          - type: 'null'
                        deliverySpeed:
                          description: How fast this driver delivers compared to the Team's average
                          anyOf:
                          - default: average
                            type: string
                            enum:
                            - slower
                            - average
                            - faster
                          - type: 'null'
                        vehicleType:
                          description: The type of vehicle used by this driver
                          anyOf:
                          - type: string
                            enum:
                            - bike
                            - scooter
                            - car
                            - small_truck
                            - truck
                            - electric_cargo_bike
                          - type: 'null'
                    - type: 'null'
                additionalProperties: false
        description: An array of driver descriptions to be created in batch.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: array
                    items:
                      type: string
                      pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                      description: The id of the driver, in the format `drivers/<id>`.
                    description: The ids of the successfully imported drivers
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            message:
                              type: string
                              description: The error that occurred during import
                          required:
                          - message
                        driver:
                          type: object
                          properties:
                            name:
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                              description: The driver's full name
                            displayName:
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                              description: The name displayed for the driver in the UI
                            email:
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                                format: email
                                pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                              - type: 'null'
                              description: Driver's email
                            phone:
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                              description: Driver's phone number
                            depots:
                              anyOf:
                              - minItems: 1
                                maxItems: 50
                                type: array
                                items:
                                  type: string
                                  pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
                                  description: The depot ID, in the format `depots/<id>`
                              - type: 'null'
                              description: The depot IDs associated with the driver in the format `depots/<id>`, duplicates will be ignored. If set to null or not provided, the team's Main depot will be set as driver depot.
                            routeOverrides:
                              anyOf:
                              - type: object
                                properties:
                                  startAddress:
                                    anyOf:
                                    - type: object
                                      properties:
                                        addressName:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 255
                                          - type: 'null'
                                          description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                                        addressLineOne:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 255
                                          - type: 'null'
                                          description: The first line of the address.
                                        addressLineTwo:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 255
                                          - type: 'null'
                                          description: The second line of the address.
                                        city:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 100
                                          - type: 'null'
                                          description: The city of the address.
                                        state:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 100
                                          - type: 'null'
                                          description: The state of the address.
                                        zip:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 100
                                          - type: 'null'
                                          description: The zip code of the address.
                                        country:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 100
                                          - type: 'null'
                                          description: The country of the address.
                                        latitude:
                                          anyOf:
                                          - type: number
                                            minimum: -90
                                            maximum: 90
                                          - type: 'null'
                                          description: The latitude of the address in decimal degrees.
                                        longitude:
                                          anyOf:
                                          - type: number
                                            minimum: -180
                                            maximum: 180
                                          - type: 'null'
                                          description: The longitude of the address in decimal degrees.
                                      additionalProperties: false
                                    - type: 'null'
                                    description: Address of a start location for every route assigned to this driver. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                                  endAddress:
                                    anyOf:
                                    - type: object
                                      properties:
                                        addressName:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 255
                                          - type: 'null'
                                          description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                                        addressLineOne:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 255
                                          - type: 'null'
                                          description: The first line of the address.
                                        addressLineTwo:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 255
                                          - type: 'null'
                                          description: The second line of the address.
                                        city:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 100
                                          - type: 'null'
                                          description: The city of the address.
                                        state:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 100
                                          - type: 'null'
                                          description: The state of the address.
                                        zip:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 100
                                          - type: 'null'
                                          description: The zip code of the address.
                                        country:
                                          anyOf:
                                          - type: string
                                            minLength: 1
                                            maxLength: 100
                                          - type: 'null'
                                          description: The country of the address.
                                        latitude:
                                          anyOf:
                                          - type: number
                                            minimum: -90
                                            maximum: 90
                                          - type: 'null'
                                          description: The latitude of the address in decimal degrees.
                                        longitude:
                                          anyOf:
                                          - type: number
                                            minimum: -180
                                            maximum: 180
                                          - type: 'null'
                                          description: The longitude of the address in decimal degrees.
                                      additionalProperties: false
                                    - type: 'null'
                                    description: Address of an end location for every route assigned to this driver. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                                  startTime:
                                    anyOf:
                                    - type: object
                                      properties:
                                        hour:
                                          type: integer
                                          minimum: -9007199254740991
                                          maximum: 9007199254740991
                                          description: Hour of the day
                                        minute:
                                          type: integer
                                          minimum: -9007199254740991
                                          maximum: 9007199254740991
                                          description: Minute of the hour
                                      required:
                                      - hour
                                      - minute
                                      additionalProperties: false
                                      description: Time of day in hours and minutes. Use a 24 hour clock.
                                    - type: 'null'
                                    description: The start time for the driver's work day.
                                  endTime:
                                    anyOf:
                                    - type: object
                                      properties:
                                        hour:
                                          type: integer
                                          minimum: -9007199254740991
                                          maximum: 9007199254740991
                                          description: Hour of the day
                                        minute:
                                          type: integer
                                          minimum: -9007199254740991
                                          maximum: 9007199254740991
                                          description: Minute of the hour
                                      required:
                                      - hour
                                      - minute
                                      additionalProperties: false
                                      description: Time of day in hours and minutes. Use a 24 hour clock.
                                    - type: 'null'
                                    description: The end time for the driver's work day.
                                  maxStops:
                                    anyOf:
                                    - type: integer
                                      minimum: 0
                                      maximum: 9007199254740991
                                    - type: 'null'
                                    description: The maximum number of stops that can be allocated to this driver.
                                  drivingSpeed:
                                    anyOf:
                                    - default: average
                                      type: string
                                      enum:
                                      - slower
                                      - average
                                      - faster
                                      description: How fast this driver drives compared to the Team's average
                                    - type: 'null'
                                  deliverySpeed:
                                    anyOf:
                                    - default: average
                                      type: string
                                      enum:
                                      - slower
                                      - average
                                      - faster
                                    - type: 'null'
                                    description: How fast this driver delivers compared to the Team's average
                                  vehicleType:
                                    anyOf:
                                    - type: string
                                      enum:
                                      - bike
                                      - scooter
                                      - car
                                      - small_truck
                                      - truck
                                      - electric_cargo_bike
                                    - type: 'null'
                                    description: The type of vehicle used by this driver
                              - type: 'null'
                          description: The request body for creating a driver. Even though `email` and `phone` are optional, you must provide at least one of
                      required:
                      - error
                      - driver
                    description: The failed drivers
                required:
                - success
                - failed
                description: Success
        '400':
          description: Failed to validate the request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Failed to validate the request
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '422':
          description: Failed to import drivers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    anyOf:
                    - type: string
                      enum:
                      - An error occured when importing drivers, but the error is not due to a validation error, instead it is another conflict, check if the provided data is semantically valid.
                    - type: string
                required:
                - message
                description: Failed to import drivers.
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
components:
  schemas:
    driverIdSchema:
      type: string
      pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
    driverSchema:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/driverIdSchema'
          description: The driver id, in the format `drivers/<id>`
        name:
          anyOf:
          - type: string
          - type: 'null'
          description: The name of the driver.
        email:
          anyOf:
          - type: string
          - type: 'null'
          description: The email of the driver.
        phone:
          anyOf:
          - type: string
          - type: 'null'
          description: The phone number of the driver.
        displayName:
          anyOf:
          - type: string
          - type: 'null'
          description: The display name of the driver.
        active:
          type: boolean
          description: Whether the driver membership is active or paused. Paused drivers will not be assigned to any routes.
        depots:
          type: array
          items:
            $ref: '#/components/schemas/depotIdSchema'
          description: Depots associated with the driver.
        routeOverrides:
          type: object
          properties:
            startTime:
              anyOf:
              - $ref: '#/components/schemas/timeOfDaySchema'
              - type: 'null'
              description: Driver's start time.
            endTime:
              anyOf:
              - $ref: '#/components/schemas/timeOfDaySchema'
              - type: 'null'
              description: Driver's end time.
            startAddress:
              anyOf:
              - type: object
                properties:
                  address:
                    type: string
                    description: The address of the stop.
                  addressLineOne:
                    type: string
                    description: The first line of the address.
                  addressLineTwo:
                    type: string
                    description: The second line of the address.
                  latitude:
                    anyOf:
                    - type: number
                      minimum: -90
                      maximum: 90
                    - type: 'null'
                    description: The latitude of the address in decimal degrees.
                  longitude:
                    anyOf:
                    - type: number
                      minimum: -180
                      maximum: 180
                    - type: 'null'
                    description: The longitude of the address in decimal degrees.
                  placeId:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The identifier of the place corresponding to this stop on Google Places
                  placeTypes:
                    type: array
                    items:
                      type: string
                    description: Array of strings that is provided by the Google AutoCompleteAPI
                required:
                - address
                - addressLineOne
                - addressLineTwo
                - latitude
                - longitude
                - placeId
                - placeTypes
                additionalProperties: false
                description: The address of the stop.
              - type: 'null'
              description: Driver's start location.
            endAddress:
              anyOf:
              - type: object
                properties:
                  address:
                    type: string
                    description: The address of the stop.
                  addressLineOne:
                    type: string
                    description: The first line of the address.
                  addressLineTwo:
                    type: string
                    description: The second line of the address.
                  latitude:
                    anyOf:
                    - type: number
                      minimum: -90
                      maximum: 90
                    - type: 'null'
                    description: The latitude of the address in decimal degrees.
                  longitude:
                    anyOf:
                    - type: number
                      minimum: -180
                      maximum: 180
                    - type: 'null'
                    description: The longitude of the address in decimal degrees.
                  placeId:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The identifier of the place corresponding to this stop on Google Places
                  placeTypes:
                    type: array
                    items:
                      type: string
                    description: Array of strings that is provided by the Google AutoCompleteAPI
                required:
                - address
                - addressLineOne
                - addressLineTwo
                - latitude
                - longitude
                - placeId
                - placeTypes
                additionalProperties: false
                description: The address of the stop.
              - type: 'null'
              description: Driver's end location.
            maxStops:
              anyOf:
              - type: integer
                minimum: -9007199254740991
                maximum: 9007199254740991
              - type: 'null'
              description: Maximum number of Stops the Driver can take in a route.
            drivingSpeed:
              type: string
              enum:
              - slower
              - average
              - faster
              description: The relative driving speed of the driver compared to others.
            deliverySpeed:
              type: string
              enum:
              - slower
              - average
              - faster
              description: The relative delivery speed of the driver compared to others.
            vehicleType:
              anyOf:
              - type: string
                enum:
                - bike
                - scooter
                - car
                - small_truck
                - truck
                - electric_cargo_bike
              - type: 'null'
              description: The vehicle type the driver will be using for deliveries.
          required:
          - startTime
          - endTime
          - startAddress
          - endAddress
          - maxStops
          - drivingSpeed
[...]
