openapi: 3.2.0
info:
  title: Spoke Live Plans API
  description: This is the documentation of the Spoke Public API HTTP endpoints.
  version: v1
servers:
- url: https://api.spoke.com/public/v1
security:
- BasicAuth: []
tags:
- name: Live Plans
  description: 'Endpoints to operate on Plans resources when it''s pending re-optimization and re-distribution.


    You must use these endpoints to apply the changes when any Live Stops request returns `pending = true`.'
paths:
  /plans/{planId}:reoptimize:
    post:
      operationId: reoptimizePlan
      summary: Re-optimize a plan
      tags:
      - Live Plans
      description: Re-optimize a plan. This endpoint should be used only after updating a live plan. Returns the created operation, which can be polled for the result. Use the returned `id` with the operations endpoints to poll for the result.
      requestBody:
        content:
          application/json:
            schema:
              description: The request body for reoptimize a plan.
              type: object
              properties:
                optimizationType:
                  description: The type of optimization to use
                  default: reorder_changed_stops
                  type: string
                  enum:
                  - reorder_changed_stops
                  - reorder_all_stops
                  - redistribute_stops_between_drivers
              additionalProperties: false
        description: The request body for reoptimize a plan.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '200':
          description: The created plan_optimization operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationSchema'
                description: The created plan_optimization operation.
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  code:
                    type: string
                    enum:
                    - plan_inaccessible
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
        '404':
          description: The provided plan id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan not found
                required:
                - message
                description: The provided plan id does not exist
                title: Plan not found
        '409':
          description: The plan is not being edited, an optimization is already in progress, there are no drivers, or there is a problem with the depot.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan already optimized
                    code:
                      type: string
                      enum:
                      - plan_already_optimized
                  required:
                  - message
                  - code
                  title: Plan already optimized
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Only `reorder_changed_stops` optimization type is supported when the plan is already distributed.
                    code:
                      type: string
                      enum:
                      - plan_optimization_not_supported
                  required:
                  - message
                  - code
                  description: Plan optimization type is not supported.
                  title: Plan optimization type is not supported
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan optimization in progress
                    code:
                      type: string
                      enum:
                      - plan_optimization_in_progress
                  required:
                  - message
                  - code
                  description: The plan's optimization is in progress.
                  title: Plan optimization in progress
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan has no drivers. Either the plan's depot has no drivers, if the optimization is for minimizing drivers, or the plan has no assigned drivers.
                    code:
                      type: string
                      enum:
                      - no_drivers_available
                  required:
                  - message
                  - code
                  description: The plan has no available drivers.
                  title: Plan has no drivers
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Please set an end time or max stops per driver for the plan's depot when optimizing to minimize drivers.
                    code:
                      type: string
                      enum:
                      - no_end_time_and_max_stops_per_driver
                  required:
                  - message
                  - code
                  description: The plan's depot has no end time and max stops per driver.
                  title: Plan's depot has no end time and max stops per driver
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Depot not found
                    code:
                      type: string
                      enum:
                      - depot_not_found
                  required:
                  - message
                  - code
                  description: Depot not found
                  title: Depot not found
                  x-response-description: Depot not found
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Please set a start location for the plan's depot.
                    code:
                      type: string
                      enum:
                      - depot_missing_start_address
                  required:
                  - message
                  - code
                  description: Depot not found
                  title: Plan's depot missing start address
                description: The plan is not being edited, an optimization is already in progress, there are no drivers, or there is a problem with the depot.
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /plans/{planId}:redistribute:
    post:
      operationId: redistributePlan
      summary: Re-distribute a plan
      tags:
      - Live Plans
      description: Re-distribute a plan to its drivers. This endpoint should be used only after updating a live plan. This will apply the re-optimization changes and send the drivers their routes.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '200':
          description: The distributed plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/planSchema'
                description: The distributed plan
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  code:
                    type: string
                    enum:
                    - plan_inaccessible
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
        '404':
          description: The provided plan id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan not found
                required:
                - message
                description: The provided plan id does not exist
                title: Plan not found
        '409':
          description: The plan is not yet optimized, is optimizing, was already distributed or was modified whilst processing request.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan already distributed
                    code:
                      type: string
                      enum:
                      - plan_already_distributed
                  required:
                  - message
                  - code
                  description: The plan is already distributed.
                  title: Plan already distributed
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan not optimized
                    code:
                      type: string
                      enum:
                      - plan_not_optimized
                  required:
                  - message
                  - code
                  description: The plan is not optimized.
                  title: Plan not optimized
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan optimization in progress
                    code:
                      type: string
                      enum:
                      - plan_optimization_in_progress
                  required:
                  - message
                  - code
                  description: The plan's optimization is in progress.
                  title: Plan optimization in progress
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan was modified by a concurrent request. Please retry your request.
                    code:
                      type: string
                      enum:
                      - plan_concurrent_modification
                  required:
                  - message
                  - code
                  description: Plan modified whilst processing request
                  title: Plan modified whilst processing request
                description: The plan is not yet optimized, is optimizing, was already distributed or was modified whilst processing request.
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /plans/{planId}:save:
    post:
      operationId: savePlan
      summary: Save the plan changes
      tags:
      - Live Plans
      description: Save the plan changes after re-optimization without distributing it. This endpoint is optional since re-distribute already saves the changes.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '204':
          description: Plan saved successfully
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  code:
                    type: string
                    enum:
                    - plan_inaccessible
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
        '404':
          description: The provided plan id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan not found
                required:
                - message
                description: The provided plan id does not exist
                title: Plan not found
        '409':
          description: The plan is not yet optimized, an optimization is in progress or it was modified whilst processing request.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan not optimized
                    code:
                      type: string
                      enum:
                      - plan_not_optimized
                  required:
                  - message
                  - code
                  description: The plan is not optimized.
                  title: Plan not optimized
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan optimization in progress
                    code:
                      type: string
                      enum:
                      - plan_optimization_in_progress
                  required:
                  - message
                  - code
                  description: The plan's optimization is in progress.
                  title: Plan optimization in progress
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan was modified by a concurrent request. Please retry your request.
                    code:
                      type: string
                      enum:
                      - plan_concurrent_modification
                  required:
                  - message
                  - code
                  description: Plan modified whilst processing request
                  title: Plan modified whilst processing request
                description: The plan is not yet optimized, an optimization is in progress or it was modified whilst processing request.
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
components:
  schemas:
    planIdSchema:
      type: string
      pattern: ^plans\/[a-zA-Z0-9---_]{1,50}$
    operationIdSchema:
      type: string
      pattern: ^operations\/[a-zA-Z0-9---_]{1,50}$
    depotIdSchema:
      type: string
      pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
    planSchema:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/planIdSchema'
          description: The unique identifier of the plan.
        title:
          type: string
          description: The title of the plan.
        starts:
          $ref: '#/components/schemas/dateSchema'
        depot:
          anyOf:
          - $ref: '#/components/schemas/depotIdSchema'
          - type: 'null'
          description: The depot ID of the plan, in the format depots/<id>
        distributed:
          type: boolean
          description: Whether the plan has been distributed.
        writable:
          type: boolean
          description: Whether the plan is writable using the normal Plan APIs. If this is false, you will need to use the [Live Plan APIs](/api/v1#tag/Live-Plans) to edit the plan. Any plan created before 2023-04-01 is not writable.
        optimization:
          anyOf:
          - type: string
            enum:
            - creating
            - editing
            - preview
            - optimized
            - optimizing
          - type: 'null'
          description: The optimization state of the plan.
        drivers:
          type: array
          items:
            $ref: '#/components/schemas/driverIdSchema'
          description: The driver IDs of the plan, in the format drivers/<id>.
        routes:
          type: array
          items:
            $ref: '#/components/schemas/routeIdSchema'
          description: The route IDs of the plan, in the format routes/<id>.
        routeOverrides:
          anyOf:
          - type: object
            properties:
              startTime:
                anyOf:
                - type: object
                  properties:
                    hour:
                      type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                      description: Hour of the day
                    minute:
                      type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                      description: Minute of the hour
                  required:
                  - hour
                  - minute
                  additionalProperties: false
                  description: Time of day in hours and minutes. Uses a 24 hour clock.
                - type: 'null'
                description: Plan's start time.
              endTime:
                anyOf:
                - type: object
                  properties:
                    hour:
                      type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                      description: Hour of the day
                    minute:
                      type: integer
                      minimum: -9007199254740991
                      maximum: 9007199254740991
                      description: Minute of the hour
                  required:
                  - hour
                  - minute
                  additionalProperties: false
                  description: Time of day in hours and minutes. Uses a 24 hour clock.
                - type: 'null'
                description: Plan's end time.
              startAddress:
                anyOf:
                - type: object
                  properties:
                    address:
                      type: string
                      description: The address of the stop.
                    addressLineOne:
                      type: string
                      description: The first line of the address.
                    addressLineTwo:
                      type: string
                      description: The second line of the address.
                    latitude:
                      anyOf:
                      - type: number
                        minimum: -90
                        maximum: 90
                      - type: 'null'
                      description: The latitude of the address in decimal degrees.
                    longitude:
                      anyOf:
                      - type: number
                        minimum: -180
                        maximum: 180
                      - type: 'null'
                      description: The longitude of the address in decimal degrees.
                    placeId:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: The identifier of the place corresponding to this stop on Google Places
                    placeTypes:
                      type: array
                      items:
                        type: string
                      description: Array of strings that is provided by the Google AutoCompleteAPI
                  required:
                  - address
                  - addressLineOne
                  - addressLineTwo
                  - latitude
                  - longitude
                  - placeId
                  - placeTypes
                  additionalProperties: false
                  description: The address of the stop.
                - type: 'null'
                description: Plan's start location.
              endAddress:
                anyOf:
                - type: object
                  properties:
                    address:
                      type: string
                      description: The address of the stop.
                    addressLineOne:
                      type: string
                      description: The first line of the address.
                    addressLineTwo:
                      type: string
                      description: The second line of the address.
                    latitude:
                      anyOf:
                      - type: number
                        minimum: -90
                        maximum: 90
                      - type: 'null'
                      description: The latitude of the address in decimal degrees.
                    longitude:
                      anyOf:
                      - type: number
                        minimum: -180
                        maximum: 180
                      - type: 'null'
                      description: The longitude of the address in decimal degrees.
                    placeId:
                      anyOf:
                      - type: string
                      - type: 'null'
                      description: The identifier of the place corresponding to this stop on Google Places
                    placeTypes:
                      type: array
                      items:
                        type: string
                      description: Array of strings that is provided by the Google AutoCompleteAPI
                  required:
                  - address
                  - addressLineOne
                  - addressLineTwo
                  - latitude
                  - longitude
                  - placeId
                  - placeTypes
                  additionalProperties: false
                  description: The address of the stop.
                - type: 'null'
                description: Plan's end location.
              maxStops:
                anyOf:
                - type: integer
                  minimum: -9007199254740991
                  maximum: 9007199254740991
                - type: 'null'
                description: Maximum number of Stops per route.
              drivingSpeed:
                anyOf:
                - type: string
                  enum:
                  - slower
                  - average
                  - faster
                - type: 'null'
                description: The relative driving speed compared to others.
              deliverySpeed:
                anyOf:
                - type: string
                  enum:
                  - slower
                  - average
                  - faster
                - type: 'null'
                description: The relative delivery speed compared to others.
              vehicleType:
                anyOf:
                - type: string
                  enum:
                  - bike
                  - scooter
                  - car
                  - small_truck
                  - truck
                  - electric_cargo_bike
                - type: 'null'
                description: The vehicle type used for deliveries.
              optimizationSettings:
                type: object
                properties:
                  objective:
                    type: string
                    enum:
                    - minimize_drivers
                    - distribute_services
                    description: The primary optimization objective.
                  subObjective:
                    anyOf:
                    - type: string
                      enum:
                      - equalize_workload
                      - equalize_time
                      - maximize_efficiency
                      description: The secondary optimization objective.
                    - type: 'null'
                required:
                - objective
                additionalProperties: false
                description: Optimization settings for the plan.
            required:
            - startTime
            - endTime
            - startAddress
            - endAddress
            - maxStops
            - drivingSpeed
            - deliverySpeed
            - vehicleType
            - optimizationSettings
            additionalProperties: false
            description: Settings for this plan to override default route configurations.
          - type: 'null'
          description: Settings for this plan to override default route configurations.
      required:
      - id
      - title
      - starts
      - depot
      - distributed
      - writable
      - optimization
      - drivers
      - routes
      - routeOverrides
      additionalProperties: false
      description: A plan.
    routeIdSchema:
      type: string
      pattern: ^routes\/[a-zA-Z0-9---_]{1,50}$
    driverIdSchema:
      type: string
      pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
    operationSchema:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/operationIdSchema'
          description: The id of the operation, in the format `operations/<id>`.
        type:
          type: string
          enum:
          - plan_optimization
        done:
          type: boolean
          description: Whether the operation is done.
        metadata:
          type: object
          properties:
            canceled:
              type: boolean
              description: Whether the operation was canceled.
            startedAt:
              type: number
              description: The time the operation started at, in seconds since epoch.
            finishedAt:
              anyOf:
              - type: number
              - type: 'null'
              description: The time the operation finished at, in seconds since epoch.
            startedBy:
              anyOf:
              - type: string
                enum:
                - dispatcher
              - type: string
                enum:
                - api
              - type: string
              description: The entity that started the operation.
            targetPlanId:
              allOf:
              - $ref: '#/components/schemas/planIdSchema'
              description: The id of the plan, in the format `plans/<id>`.
          required:
          - canceled
          - startedAt
          - finishedAt
          - startedBy
          - targetPlanId
          description: Metadata related to a plan optimization operation.
        result:
          anyOf:
          - anyOf:
            - type: object
              properties:
                numOptimizedStops:
                  type: number
                  description: The number of stops that were considered for optimization.
                skippedStops:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        allOf:
                        - $ref: '#/components/schemas/stopIdSchema'
                        description: The id of the stop, in the format `plans/<id>/stops/<id>`.
                      reason:
                        anyOf:
                        - type: string
                          enum:
                          - impossible_time_window
                        - type: string
                          enum:
                          - impossible_navigation
                        - type: string
                          enum:
                          - impossible_number_of_stops
                        - type: string
                          enum:
                          - impossible_order_of_stops
                        - type: string
                        description: The reason the stop was skipped.
                    required:
                    - id
                    - reason
                  description: The stops that were skipped, if any.
              required:
              - numOptimizedStops
              - skippedStops
            - type: object
              properties:
                code:
                  type: string
                  description: A code that identifies the error
                message:
                  type: string
                  description: A human-readable message that describes the error. This message is not intended to be parsed by machines.
              required:
              - code
              - message
          - type: 'null'
          description: The result of the plan optimization operation, or an error.
      required:
      - id
      - type
      - done
      - metadata
      - result
    stopIdSchema:
      type: string
      pattern: ^plans\/[a-zA-Z0-9---_]{1,50}\/stops\/[a-zA-Z0-9---_]{1,50}$
    dateSchema:
      type: object
      properties:
        day:
          type: integer
          minimum: 1
          maximum: 31
          description: The day of the date.
        month:
          type: integer
          minimum: 1
          maximum: 12
          description: The month of the date.
        year:
          type: integer
          minimum: 2000
          maximum: 2100
          description: The year of the date.
      required:
      - day
      - month
      - year
      additionalProperties: false
      description: A date.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Use the API key as the username and leave the password empty.
