openapi: 3.2.0
info:
  title: Spoke Plans API
  description: This is the documentation of the Spoke Public API HTTP endpoints.
  version: v1
servers:
- url: https://api.spoke.com/public/v1
security:
- BasicAuth: []
tags:
- name: Plans
  description: Endpoints to operate on Plans resources.
paths:
  /plans:
    post:
      operationId: createPlan
      summary: Create a new plan
      tags:
      - Plans
      requestBody:
        content:
          application/json:
            schema:
              description: The request body for creating a plan.
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 255
                starts:
                  description: The date the plan starts. Does not accept dates that are too far in the future or past.
                  type: object
                  properties:
                    day:
                      description: The day of the date.
                      type: integer
                      minimum: 1
                      maximum: 31
                    month:
                      description: The month of the date.
                      type: integer
                      minimum: 1
                      maximum: 12
                    year:
                      description: The year of the date.
                      type: integer
                      minimum: 2000
                      maximum: 2100
                  required:
                  - day
                  - month
                  - year
                  additionalProperties: false
                drivers:
                  default: []
                  description: The drivers IDs of the plan, in the format `drivers/<id>`, duplicates will be ignored
                  maxItems: 50
                  type: array
                  items:
                    description: The driver id, in the format `drivers/<id>`
                    type: string
                    pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                depot:
                  description: The depot id, in the format `depots/<id>`. If not provided, the team's Main Depot will be used.
                  anyOf:
                  - type: string
                    pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
                  - type: 'null'
                routeOverrides:
                  description: Overrides for the plan route behavior.
                  anyOf:
                  - type: object
                    properties:
                      startAddress:
                        description: Address of a start location for every route in this plan. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                        anyOf:
                        - type: object
                          properties:
                            addressName:
                              description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineOne:
                              description: The first line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineTwo:
                              description: The second line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            city:
                              description: The city of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            state:
                              description: The state of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            zip:
                              description: The zip code of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            country:
                              description: The country of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            latitude:
                              description: The latitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -90
                                maximum: 90
                              - type: 'null'
                            longitude:
                              description: The longitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -180
                                maximum: 180
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                      endAddress:
                        description: Address of an end location for every route in this plan. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                        anyOf:
                        - type: object
                          properties:
                            addressName:
                              description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineOne:
                              description: The first line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineTwo:
                              description: The second line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            city:
                              description: The city of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            state:
                              description: The state of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            zip:
                              description: The zip code of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            country:
                              description: The country of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            latitude:
                              description: The latitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -90
                                maximum: 90
                              - type: 'null'
                            longitude:
                              description: The longitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -180
                                maximum: 180
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                      startTime:
                        description: The start time for the driver's work day.
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      endTime:
                        description: The end time for the driver's work day.
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      maxStops:
                        description: The maximum number of stops that can be allocated per route. Note that this setting will be ignored when vehicle capacity or pickups are being used.
                        anyOf:
                        - type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        - type: 'null'
                      drivingSpeed:
                        anyOf:
                        - description: How fast drivers drive compared to the Team's average
                          type: string
                          enum:
                          - slower
                          - average
                          - faster
                        - type: 'null'
                      deliverySpeed:
                        description: How fast drivers deliver compared to the Team's average
                        anyOf:
                        - type: string
                          enum:
                          - slower
                          - average
                          - faster
                        - type: 'null'
                      vehicleType:
                        description: The type of vehicle used for routes in this plan
                        anyOf:
                        - type: string
                          enum:
                          - bike
                          - scooter
                          - car
                          - small_truck
                          - truck
                          - electric_cargo_bike
                        - type: 'null'
                      optimizationSettings:
                        description: Optimization settings for the plan.
                        anyOf:
                        - description: Configures the optimization settings for routes.
                          type: object
                          properties:
                            objective:
                              description: The primary optimization objective.
                              anyOf:
                              - type: string
                                enum:
                                - distribute_services
                              - type: 'null'
                            subObjective:
                              description: The secondary optimization objective.
                              anyOf:
                              - type: string
                                enum:
                                - equalize_workload
                                - equalize_time
                                - maximize_efficiency
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
              required:
              - title
              - starts
              additionalProperties: false
        required: true
        description: The request body for creating a plan.
      responses:
        '200':
          description: The created plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/planSchema'
                description: The created plan
        '400':
          description: The request is invalid, or a driver is not active.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      description: The error code.
                    param:
                      type: string
                      description: The parameter that caused the error.
                    url:
                      type: string
                      description: The URL with more information about the error.
                  required:
                  - message
                  description: Failed to validate the request
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Driver is not active
                    code:
                      type: string
                      enum:
                      - driver_not_active
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The driver is not active
                  title: Driver is not active
                description: The request is invalid, or a driver is not active.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  code:
                    type: string
                    enum:
                    - plan_inaccessible
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
        '404':
          description: The depot or driver could not be found.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Depot not found
                  required:
                  - message
                  description: The provided depot id does not exist
                  title: Depot not found
                - type: object
                  properties:
                    message:
                      anyOf:
                      - type: string
                        enum:
                        - Driver not found
                      - type: string
                  required:
                  - message
                  description: The provided driver id does not exist
                  title: Driver not found
                description: The depot or driver could not be found.
        '409':
          description: Depot not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Depot not found
                  code:
                    type: string
                    enum:
                    - depot_not_found
                required:
                - message
                - code
                description: Depot not found
                title: Depot not found
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    get:
      operationId: listPlans
      summary: List plans
      tags:
      - Plans
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 255
        in: query
        name: pageToken
        required: false
        description: The page token, if any.
      - schema:
          default: 10
          type: number
          minimum: 1
          maximum: 20
        in: query
        name: maxPageSize
        required: false
        description: The max page size.
      - schema:
          type: object
          properties:
            title:
              description: Filter by title, exact match
              type: string
              minLength: 1
              maxLength: 255
            startsGte:
              description: Search for plans that start after this date, inclusive. The date must be in the format YYYY-MM-DD.
              type: string
              pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
            startsLte:
              description: Search for plans that start before this date,inclusive. The date must be in the format YYYY-MM-DD.
              type: string
              pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}$
          additionalProperties: false
        in: query
        name: filter
        required: false
        description: 'The filter to apply to the list of plans. The filter params are passed like this: `?filter[title]=foo` or like this: `?filter.title=foo`'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items:
                      $ref: '#/components/schemas/planSchema'
                    description: The plans list.
                  nextPageToken:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The next page token.
                required:
                - plans
                - nextPageToken
                definitions:
                  planSchema:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^plans\/[a-zA-Z0-9---_]{1,50}$
                        description: The unique identifier of the plan.
                      title:
                        type: string
                        description: The title of the plan.
                      starts:
                        type: object
                        properties:
                          day:
                            type: integer
                            minimum: 1
                            maximum: 31
                            description: The day of the date.
                          month:
                            type: integer
                            minimum: 1
                            maximum: 12
                            description: The month of the date.
                          year:
                            type: integer
                            minimum: 2000
                            maximum: 2100
                            description: The year of the date.
                        required:
                        - day
                        - month
                        - year
                        additionalProperties: false
                        description: A date.
                      depot:
                        anyOf:
                        - type: string
                          pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
                        - type: 'null'
                        description: The depot ID of the plan, in the format depots/<id>
                      distributed:
                        type: boolean
                        description: Whether the plan has been distributed.
                      writable:
                        type: boolean
                        description: Whether the plan is writable using the normal Plan APIs. If this is false, you will need to use the [Live Plan APIs](/api/v1#tag/Live-Plans) to edit the plan. Any plan created before 2023-04-01 is not writable.
                      optimization:
                        anyOf:
                        - type: string
                          enum:
                          - creating
                          - editing
                          - preview
                          - optimized
                          - optimizing
                        - type: 'null'
                        description: The optimization state of the plan.
                      drivers:
                        type: array
                        items:
                          type: string
                          pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                        description: The driver IDs of the plan, in the format drivers/<id>.
                      routes:
                        type: array
                        items:
                          type: string
                          pattern: ^routes\/[a-zA-Z0-9---_]{1,50}$
                        description: The route IDs of the plan, in the format routes/<id>.
                      routeOverrides:
                        anyOf:
                        - type: object
                          properties:
                            startTime:
                              anyOf:
                              - type: object
                                properties:
                                  hour:
                                    type: integer
                                    minimum: -9007199254740991
                                    maximum: 9007199254740991
                                    description: Hour of the day
                                  minute:
                                    type: integer
                                    minimum: -9007199254740991
                                    maximum: 9007199254740991
                                    description: Minute of the hour
                                required:
                                - hour
                                - minute
                                additionalProperties: false
                                description: Time of day in hours and minutes. Uses a 24 hour clock.
                              - type: 'null'
                              description: Plan's start time.
                            endTime:
                              anyOf:
                              - type: object
                                properties:
                                  hour:
                                    type: integer
                                    minimum: -9007199254740991
                                    maximum: 9007199254740991
                                    description: Hour of the day
                                  minute:
                                    type: integer
                                    minimum: -9007199254740991
                                    maximum: 9007199254740991
                                    description: Minute of the hour
                                required:
                                - hour
                                - minute
                                additionalProperties: false
                                description: Time of day in hours and minutes. Uses a 24 hour clock.
                              - type: 'null'
                              description: Plan's end time.
                            startAddress:
                              anyOf:
                              - type: object
                                properties:
                                  address:
                                    type: string
                                    description: The address of the stop.
                                  addressLineOne:
                                    type: string
                                    description: The first line of the address.
                                  addressLineTwo:
                                    type: string
                                    description: The second line of the address.
                                  latitude:
                                    anyOf:
                                    - type: number
                                      minimum: -90
                                      maximum: 90
                                    - type: 'null'
                                    description: The latitude of the address in decimal degrees.
                                  longitude:
                                    anyOf:
                                    - type: number
                                      minimum: -180
                                      maximum: 180
                                    - type: 'null'
                                    description: The longitude of the address in decimal degrees.
                                  placeId:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                    description: The identifier of the place corresponding to this stop on Google Places
                                  placeTypes:
                                    type: array
                                    items:
                                      type: string
                                    description: Array of strings that is provided by the Google AutoCompleteAPI
                                required:
                                - address
                                - addressLineOne
                                - addressLineTwo
                                - latitude
                                - longitude
                                - placeId
                                - placeTypes
                                additionalProperties: false
                                description: The address of the stop.
                              - type: 'null'
                              description: Plan's start location.
                            endAddress:
                              anyOf:
                              - type: object
                                properties:
                                  address:
                                    type: string
                                    description: The address of the stop.
                                  addressLineOne:
                                    type: string
                                    description: The first line of the address.
                                  addressLineTwo:
                                    type: string
                                    description: The second line of the address.
                                  latitude:
                                    anyOf:
                                    - type: number
                                      minimum: -90
                                      maximum: 90
                                    - type: 'null'
                                    description: The latitude of the address in decimal degrees.
                                  longitude:
                                    anyOf:
                                    - type: number
                                      minimum: -180
                                      maximum: 180
                                    - type: 'null'
                                    description: The longitude of the address in decimal degrees.
                                  placeId:
                                    anyOf:
                                    - type: string
                                    - type: 'null'
                                    description: The identifier of the place corresponding to this stop on Google Places
                                  placeTypes:
                                    type: array
                                    items:
                                      type: string
                                    description: Array of strings that is provided by the Google AutoCompleteAPI
                                required:
                                - address
                                - addressLineOne
                                - addressLineTwo
                                - latitude
                                - longitude
                                - placeId
                                - placeTypes
                                additionalProperties: false
                                description: The address of the stop.
                              - type: 'null'
                              description: Plan's end location.
                            maxStops:
                              anyOf:
                              - type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              - type: 'null'
                              description: Maximum number of Stops per route.
                            drivingSpeed:
                              anyOf:
                              - type: string
                                enum:
                                - slower
                                - average
                                - faster
                              - type: 'null'
                              description: The relative driving speed compared to others.
                            deliverySpeed:
                              anyOf:
                              - type: string
                                enum:
                                - slower
                                - average
                                - faster
                              - type: 'null'
                              description: The relative delivery speed compared to others.
                            vehicleType:
                              anyOf:
                              - type: string
                                enum:
                                - bike
                                - scooter
                                - car
                                - small_truck
                                - truck
                                - electric_cargo_bike
                              - type: 'null'
                              description: The vehicle type used for deliveries.
                            optimizationSettings:
                              type: object
                              properties:
                                objective:
                                  type: string
                                  enum:
                                  - minimize_drivers
                                  - distribute_services
                                  description: The primary optimization objective.
                                subObjective:
                                  anyOf:
                                  - type: string
                                    enum:
                                    - equalize_workload
                                    - equalize_time
                                    - maximize_efficiency
                                    description: The secondary optimization objective.
                                  - type: 'null'
                              required:
                              - objective
                              additionalProperties: false
                              description: Optimization settings for the plan.
                          required:
                          - startTime
                          - endTime
                          - startAddress
                          - endAddress
                          - maxStops
                          - drivingSpeed
                          - deliverySpeed
                          - vehicleType
                          - optimizationSettings
                          additionalProperties: false
                          description: Settings for this plan to override default route configurations.
                        - type: 'null'
                        description: Settings for this plan to override default route configurations.
                    required:
                    - id
                    - title
                    - starts
                    - depot
                    - distributed
                    - writable
                    - optimization
                    - drivers
                    - routes
                    - routeOverrides
                    additionalProperties: false
                    description: A plan.
                description: Success
        '400':
          description: Query parameters are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Query parameters are invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /plans/{planId}:
    patch:
      operationId: updatePlan
      summary: Update an existing plan
      tags:
      - Plans
      description: Update an existing plan. If the plan `writable` property is false, prefer using the Live Plans API.
      requestBody:
        content:
          application/json:
            schema:
              description: 'The request body for updating a plan. All the values present in the request will update the plan value, if you wish to update only certain fields, only set them and do not set the others. Any fields not set will not be updated.


                **Important:** Notice that the `drivers` Array will be completely replaced. If a single driver is provided in the request, the plan will have all other previous drivers discarded.'
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 255
                starts:
                  description: The date the plan starts. Does not accept dates that are too far in the future or past.
                  type: object
                  properties:
                    day:
                      description: The day of the date.
                      type: integer
                      minimum: 1
                      maximum: 31
                    month:
                      description: The month of the date.
                      type: integer
                      minimum: 1
                      maximum: 12
                    year:
                      description: The year of the date.
                      type: integer
                      minimum: 2000
                      maximum: 2100
                  required:
                  - day
                  - month
                  - year
                  additionalProperties: false
                drivers:
                  description: The drivers IDs of the plan, in the format `drivers/<id>`, duplicates will be ignored
                  maxItems: 50
                  type: array
                  items:
                    description: The driver id, in the format `drivers/<id>`
                    type: string
                    pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                depot:
                  description: The depot id, in the format `depots/<id>`. If not provided, the team's Main Depot will be used.
                  anyOf:
                  - type: string
                    pattern: ^depots\/[a-zA-Z0-9---_]{1,50}$
                  - type: 'null'
                routeOverrides:
                  description: Overrides for the plan route behavior.
                  anyOf:
                  - type: object
                    properties:
                      startAddress:
                        description: Address of a start location for every route in this plan. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                        anyOf:
                        - type: object
                          properties:
                            addressName:
                              description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineOne:
                              description: The first line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineTwo:
                              description: The second line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            city:
                              description: The city of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            state:
                              description: The state of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            zip:
                              description: The zip code of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            country:
                              description: The country of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            latitude:
                              description: The latitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -90
                                maximum: 90
                              - type: 'null'
                            longitude:
                              description: The longitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -180
                                maximum: 180
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                      endAddress:
                        description: Address of an end location for every route in this plan. If the latitude and longitude fields are set they will override any of the others. The addressName field is not used for geocoding and is only for display purposes.
                        anyOf:
                        - type: object
                          properties:
                            addressName:
                              description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineOne:
                              description: The first line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            addressLineTwo:
                              description: The second line of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 255
                              - type: 'null'
                            city:
                              description: The city of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            state:
                              description: The state of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            zip:
                              description: The zip code of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            country:
                              description: The country of the address.
                              anyOf:
                              - type: string
                                minLength: 1
                                maxLength: 100
                              - type: 'null'
                            latitude:
                              description: The latitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -90
                                maximum: 90
                              - type: 'null'
                            longitude:
                              description: The longitude of the address in decimal degrees.
                              anyOf:
                              - type: number
                                minimum: -180
                                maximum: 180
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                      startTime:
                        description: The start time for the driver's work day.
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      endTime:
                        description: The end time for the driver's work day.
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      maxStops:
                        description: The maximum number of stops that can be allocated per route. Note that this setting will be ignored when vehicle capacity or pickups are being used.
                        anyOf:
                        - type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        - type: 'null'
                      drivingSpeed:
                        anyOf:
                        - description: How fast drivers drive compared to the Team's average
                          type: string
                          enum:
                          - slower
                          - average
                          - faster
                        - type: 'null'
                      deliverySpeed:
                        description: How fast drivers deliver compared to the Team's average
                        anyOf:
                        - type: string
                          enum:
                          - slower
                          - average
                          - faster
                        - type: 'null'
                      vehicleType:
                        description: The type of vehicle used for routes in this plan
                        anyOf:
                        - type: string
                          enum:
                          - bike
                          - scooter
                          - car
                          - small_truck
                          - truck
                          - electric_cargo_bike
                        - type: 'null'
                      optimizationSettings:
                        description: Optimization settings for the plan.
                        anyOf:
                        - description: Configures the optimization settings for routes.
                          type: object
                          properties:
                            objective:
                              description: The primary optimization objective.
                              anyOf:
                              - type: string
                                enum:
                                - distribute_services
                              - type: 'null'
                            subObjective:
                              description: The secondary optimization objective.
                              anyOf:
                              - type: string
                                enum:
                                - equalize_workload
                                - equalize_time
                                - maximize_efficiency
                              - type: 'null'
                          additionalProperties: false
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
              additionalProperties: false
        description: 'The request body for updating a plan. All the values present in the request will update the plan value, if you wish to update only certain fields, only set them and do not set the others. Any fields not set will not be updated.


          **Important:** Notice that the `drivers` Array will be completely replaced. If a single driver is provided in the request, the plan will have all other previous drivers discarded.'
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '200':
          description: The updated plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/planSchema'
                description: The updated plan
        '400':
          description: The request is invalid, or a driver is not active.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      description: The error code.
                    param:
                      type: string
                      description: The parameter that caused the error.
                    url:
                      type: string
                      description: The URL with more information about the error.
                  required:
                  - message
                  description: Failed to validate the request
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Driver is not active
                    code:
                      type: string
                      enum:
                      - driver_not_active
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The driver is not active
                  title: Driver is not active
                description: The request is invalid, or a driver is not active.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  code:
                    type: string
                    enum:
                    - plan_inaccessible
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
        '404':
          description: The plan, depot, or driver could not be found.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan not found
                  required:
                  - message
                  description: The provided plan id does not exist
                  title: Plan not found
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Depot not found
                  required:
                  - message
                  description: The provided depot id does not exist
                  title: Depot not found
                - type: object
                  properties:
                    message:
                      anyOf:
                      - type: string
                        enum:
                        - Driver not found
                      - type: string
                  required:
                  - message
                  description: The provided driver id does not exist
                  title: Driver not found
                description: The plan, depot, or driver could not be found.
        '409':
          description: The plan is not writable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is not writable
                  code:
                    type: string
                    enum:
                    - plan_not_writable
                required:
                - message
                - code
                description: The plan is not writable.
                title: Plan is not writable
        '412':
          description: Drivers and plans must have the same depot configured
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Driver does not share depot with plan
                  param:
                    type: string
                    description: The parameter that caused the error.
                required:
                - message
                description: Drivers and plans must have the same depot configured
                title: Plan and driver do not share a depot
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    get:
      operationId: getPlan
      summary: Retrieve a plan
      tags:
      - Plans
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '200':
          description: The requested plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/planSchema'
                description: The requested plan
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  code:
                    type: string
                    enum:
                    - plan_inaccessible
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
        '404':
          description: The provided plan id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan not found
                required:
                - message
                description: The provided plan id does not exist
                title: Plan not found
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    delete:
      operationId: deletePlan
      summary: Delete a plan
      tags:
      - Plans
      description: Delete a plan and related routes. This action cannot be undone and will delete all the releated routes as well, even if the plan is not in a writable state. As this action is not atomic, it is possible that only partial deletion occurs if the endpoint errors out with a 500. In that case it is recommended to retry the request.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '204':
          description: Plan deleted successfully
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  code:
                    type: string
                    enum:
                    - plan_inaccessible
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
        '404':
          description: The provided plan id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan not found
                required:
                - message
                description: The provided plan id does not exist
                title: Plan not found
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /plans/{planId}:optimize:
    post:
      operationId: optimizePlan
      summary: Optimize a plan
      tags:
      - Plans
      description: Optimize a plan. Returns the created operation, which can be polled for the result. Use the returned `id` with the operations endpoints to poll for the result.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '200':
          description: The created plan_optimization operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/operationSchema'
                description: The created plan_optimization operation.
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  code:
                    type: string
                    enum:
                    - plan_inaccessible
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
        '404':
          description: The provided plan id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan not found
                required:
                - message
                description: The provided plan id does not exist
                title: Plan not found
        '409':
          description: The plan is not writable, an optimization is already in progress, there are no drivers, or there is a problem with the depot.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan already optimized
                    code:
                      type: string
                      enum:
                      - plan_already_optimized
                  required:
                  - message
                  - code
                  title: Plan already optimized
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan optimization in progress
                    code:
                      type: string
                      enum:
                      - plan_optimization_in_progress
                  required:
                  - message
                  - code
                  description: The plan's optimization is in progress.
                  title: Plan optimization in progress
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan has no drivers. Either the plan's depot has no drivers, if the optimization is for minimizing drivers, or the plan has no assigned drivers.
                    code:
                      type: string
                      enum:
                      - no_drivers_available
                  required:
                  - message
                  - code
                  description: The plan has no available drivers.
                  title: Plan has no drivers
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Please set an end time or max stops per driver for the plan's depot when optimizing to minimize drivers.
                    code:
                      type: string
                      enum:
                      - no_end_time_and_max_stops_per_driver
                  required:
                  - message
                  - code
                  description: The plan's depot has no end time and max stops per driver.
                  title: Plan's depot has no end time and max stops per driver
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Depot not found
                    code:
                      type: string
                      enum:
                      - depot_not_found
                  required:
                  - message
                  - code
                  description: Depot not found
                  title: Depot not found
                  x-response-description: Depot not found
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Please set a start location for the plan's depot.
                    code:
                      type: string
                      enum:
                      - depot_missing_start_address
                  required:
                  - message
                  - code
                  description: Depot not found
                  title: Plan's depot missing start address
                description: The plan is not writable, an optimization is already in progress, there are no drivers, or there is a problem with the depot.
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /plans/{planId}:distribute:
    post:
      operationId: distributePlan
      summary: Distribute a plan
      tags:
      - Plans
      description: Distribute a plan to its drivers. This will send then their routes.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '200':
          description: The distributed plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/planSchema'
                description: The distributed plan
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  code:
                    type: string
                    enum:
                    - plan_inaccessible
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
        '404':
          description: The provided plan id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan not found
                required:
                - message
                description: The provided plan id does not exist
                title: Plan not found
        '409':
          description: The plan is not yet optimized, is optimizing, was already distributed or was modified whilst processing request.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan already distributed
                    code:
                      type: string
                      enum:
                      - plan_already_distributed
                  required:
                  - message
                  - code
                  description: The plan is already distributed.
                  title: Plan already distributed
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan not optimized
                    code:
                      type: string
                      enum:
                      - plan_not_optimized
                  required:
                  - message
                  - code
                  description: The plan is not optimized.
                  title: Plan not optimized
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan optimization in progress
                    code:
                      type: string
                      enum:
                      - plan_optimization_in_progress
                  required:
                  - message
                  - code
                  description: The plan's optimization is in progress.
                  title: Plan optimization in progress
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan was modified by a concurrent request. Please retry your request.
                    code:
                      type: string
                      enum:
                      - plan_concurrent_modification
                  required:
                  - message
                  - code
                  description: Plan modified whilst processing request
                  title: Plan modified whilst processing request
                description: The plan is not yet optimized, is optimizing, was already distributed or was modified whilst processing request.
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /plans/{planId}/stops:
    get:
      operationId: listPlanStops
      summary: List plan stops
      tags:
      - Plans
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 255
        in: query
        name: pageToken
        required: false
        description: The page token, if any.
      - schema:
          default: 10
          type: number
          minimum: 1
          maximum: 10
        in: query
        name: maxPageSize
        required: false
        description: The max page size.
      - schema:
          type: object
          properties:
            externalId:
              description: Filter by the `recipient.externalId` field, exact match
              type: string
              minLength: 1
              maxLength: 255
          additionalProperties: false
        in: query
        name: filter
        required: false
        description: 'The filter to apply to the list of stops. The filter params are passed like this: `?filter[externalId]=foo` or like this: `?filter.externalId=foo`'
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  stops:
                    type: array
                    items:
                      $ref: '#/components/schemas/stopSchema'
                    description: The stops list.
                  nextPageToken:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The next page token.
                required:
                - stops
                - nextPageToken
                definitions:
                  stopSchema:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^plans\/[a-zA-Z0-9---_]{1,50}\/stops\/[a-zA-Z0-9---_]{1,50}$
                        description: The id of the stop, in the format `plans/<id>/stops/<id>`.
                      address:
                        type: object
                        properties:
                          address:
                            type: string
                            description: The address of the stop.
                          addressLineOne:
                            type: string
                            description: The first line of the address.
                          addressLineTwo:
                            type: string
                            description: The second line of the address.
                          latitude:
                            anyOf:
                            - type: number
                              minimum: -90
                              maximum: 90
                            - type: 'null'
                            description: The latitude of the address in decimal degrees.
                          longitude:
                            anyOf:
                            - type: number
                              minimum: -180
                              maximum: 180
                            - type: 'null'
                            description: The longitude of the address in decimal degrees.
                          placeId:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: The identifier of the place corresponding to this stop on Google Places
                          placeTypes:
                            type: array
                            items:
                              type: string
                            description: Array of strings that is provided by the Google AutoCompleteAPI
                        required:
                        - address
                        - addressLineOne
                        - addressLineTwo
                        - latitude
                        - longitude
                        - placeId
                        - placeTypes
                        additionalProperties: false
                        description: The address of the stop.
                      barcodes:
                        type: array
                        items:
                          type: string
                        description: List of Barcode IDs associated with the stop.
                      allowedDrivers:
                        type: array
                        items:
                          type: string
                          pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                        description: The driver IDs that can be assigned to this stop
                      estimatedTravelDuration:
                        anyOf:
                        - type: number
                        - type: 'null'
                        description: Estimated time that the driver will take to arrive at this stop from the previous stop in seconds.
                      estimatedTravelDistance:
                        anyOf:
                        - type: number
                        - type: 'null'
                        description: The distance in meters between the previous stop and this stop.
                      notes:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: Notes for the stop.
                      packageCount:
                        anyOf:
                        - type: number
                        - type: 'null'
                        description: The number of packages.
                      weight:
                        anyOf:
                        - type: object
                          properties:
                            amount:
                              type: number
                              minimum: 0
                              description: The weight amount for this stop.
                            unit:
                              type: string
                              enum:
                              - kilogram
                              - pound
                              - metric-ton
                              description: The weight unit in which the amount is specified (defined at team's capacity unit).
                          required:
                          - amount
                          - unit
                          additionalProperties: false
                          description: Weight information for the stop.
                        - type: 'null'
                      type:
                        type: string
                        enum:
                        - start
                        - stop
                        - end
                        description: The type of the stop. `start` is the first stop of the route, `stop` is a stop in the middle of the route, and `end` is the last stop of the route.
                      packageLabel:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: The label of the package.
                      stopPosition:
                        anyOf:
                        - type: number
                        - type: 'null'
                        description: The position of the stop in the route.
                      trackingLink:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: The recipient tracking link.
                      webAppLink:
                        type: string
                        description: The web app link.
                      orderInfo:
                        type: object
                        properties:
                          products:
                            type: array
                            items:
                              type: string
                            description: The products of the stop.
                          invoiceNumber:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: Invoice number associated with the order.
                          sellerName:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: Name of the seller where the order is from.
                          sellerOrderId:
                            anyOf:
[...]
