openapi: 3.2.0
info:
  title: Spoke Stops API
  description: This is the documentation of the Spoke Public API HTTP endpoints.
  version: v1
servers:
- url: https://api.spoke.com/public/v1
security:
- BasicAuth: []
tags:
- name: Stops
  description: 'Endpoints to operate on Stop resources.


    For any Plans created before 2023-04-01 the stop

    collections and all related operations will not be available.


    For any operations here you will need a Plan ID beforehand. You can retrieve an

    existing Plan by listing your Plans or you can

    create a new one.'
paths:
  /plans/{planId}/stops:
    post:
      operationId: createStop
      summary: Create a new stop
      tags:
      - Stops
      description: Create a new stop with the given data. Prefer using the batch import endpoint if you want to create multiple stops at once as it is more efficient and will produce better geocoding results. If the plan is not writable, this will fail, prefer using the Live Create Stop API instead.
      requestBody:
        content:
          application/json:
            schema:
              description: The request body for creating a stop. The only required field is address, you need to provide at least one of the fields in it. The latitude and longitude fields will override any of the other fields if they are set(and they need to be both set if any of them are). The more fields you provide the more accurate the geocoding will be.
              type: object
              properties:
                address:
                  type: object
                  properties:
                    addressName:
                      description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                      anyOf:
                      - type: string
                        minLength: 1
                        maxLength: 255
                      - type: 'null'
                    addressLineOne:
                      description: The first line of the address.
                      anyOf:
                      - type: string
                        minLength: 1
                        maxLength: 255
                      - type: 'null'
                    addressLineTwo:
                      description: The second line of the address.
                      anyOf:
                      - type: string
                        minLength: 1
                        maxLength: 255
                      - type: 'null'
                    city:
                      description: The city of the address.
                      anyOf:
                      - type: string
                        minLength: 1
                        maxLength: 100
                      - type: 'null'
                    state:
                      description: The state of the address.
                      anyOf:
                      - type: string
                        minLength: 1
                        maxLength: 100
                      - type: 'null'
                    zip:
                      description: The zip code of the address.
                      anyOf:
                      - type: string
                        minLength: 1
                        maxLength: 100
                      - type: 'null'
                    country:
                      description: The country of the address.
                      anyOf:
                      - type: string
                        minLength: 1
                        maxLength: 100
                      - type: 'null'
                    latitude:
                      description: The latitude of the address in decimal degrees.
                      anyOf:
                      - type: number
                        minimum: -90
                        maximum: 90
                      - type: 'null'
                    longitude:
                      description: The longitude of the address in decimal degrees.
                      anyOf:
                      - type: number
                        minimum: -180
                        maximum: 180
                      - type: 'null'
                  additionalProperties: false
                timing:
                  anyOf:
                  - description: Timing information for this stop
                    type: object
                    properties:
                      earliestAttemptTime:
                        description: Time of day of the earliest time this stop should happen
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      latestAttemptTime:
                        description: Time of day of the latest time this stop should happen
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      estimatedAttemptDuration:
                        description: Duration in seconds of the activity in this stop, only set if you want to override the default. This can be set up to 8 hours.
                        anyOf:
                        - type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
                recipient:
                  anyOf:
                  - description: Recipient information for this stop
                    type: object
                    properties:
                      externalId:
                        description: External ID of the recipient, as defined by the API user
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      email:
                        description: Email of the recipient
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      phone:
                        description: Phone number of the recipient
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      name:
                        description: Name of the recipient
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
                orderInfo:
                  anyOf:
                  - description: Order information for this stop
                    type: object
                    properties:
                      products:
                        description: Products in this stop
                        maxItems: 100
                        type: array
                        items:
                          type: string
                          minLength: 1
                          maxLength: 255
                      invoiceNumber:
                        description: Invoice number
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      sellerOrderId:
                        description: Seller order ID
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      sellerName:
                        description: Seller name
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      sellerWebsite:
                        description: Seller website
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
                paymentOnDelivery:
                  anyOf:
                  - description: Payment on delivery (also known as "Cash on Delivery") data for this stop
                    type: object
                    properties:
                      amount:
                        description: Amount *in minor units* (e.g. cents) to be collected upon delivery
                        anyOf:
                        - type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        - type: 'null'
                      currency:
                        description: Currency of the payment. Defaults to the team's currency.
                        anyOf:
                        - type: string
                          enum:
                          - AED
                          - ARS
                          - AUD
                          - BRL
                          - CAD
                          - CHF
                          - CLP
                          - CNY
                          - COP
                          - DKK
                          - EGP
                          - EUR
                          - GBP
                          - HKD
                          - HUF
                          - ILS
                          - INR
                          - JPY
                          - KRW
                          - MYR
                          - MXN
                          - NOK
                          - NZD
                          - PEN
                          - RON
                          - RUB
                          - SAR
                          - SEK
                          - SGD
                          - TRY
                          - USD
                          - UYU
                          - ZAR
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
                proofOfAttemptRequirements:
                  anyOf:
                  - description: Proof of attempt requirement settings for this stop
                    type: object
                    properties:
                      enabled:
                        description: Whether proof of attempt is required for this stop
                        anyOf:
                        - type: boolean
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
                allowedDrivers:
                  description: Driver IDs that are allowed to be assigned to this stop. These drivers must be configured as part of the plan to be valid.
                  anyOf:
                  - maxItems: 100
                    type: array
                    items:
                      type: string
                      pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                  - type: 'null'
                activity:
                  description: Activity type
                  default: delivery
                  anyOf:
                  - type: string
                    enum:
                    - delivery
                    - pickup
                  - type: 'null'
                optimizationOrder:
                  description: The preferred order of this stop in the optimized route. If not provided or `"default"`, the stop will be placed in the optimal order, decided by the optimization algorithm. Otherwise it will be placed either `"first"` or `"last"`.
                  anyOf:
                  - type: string
                    enum:
                    - first
                    - last
                    - default
                  - type: 'null'
                packageCount:
                  description: Number of packages in the stop
                  anyOf:
                  - type: number
                    minimum: 1
                    maximum: 10000
                  - type: 'null'
                weight:
                  description: Weight information for this stop.
                  anyOf:
                  - type: object
                    properties:
                      amount:
                        description: The weight amount for this stop.
                        type: number
                        minimum: 0
                        maximum: 999999
                        multipleOf: 0.01
                      unit:
                        description: The weight unit in which the amount is specified.
                        type: string
                        enum:
                        - kilogram
                        - pound
                        - metric-ton
                    required:
                    - amount
                    - unit
                  - type: 'null'
                notes:
                  description: Notes for the stop
                  anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 2000
                  - type: 'null'
                clientId:
                  description: Client ID of the retailer in Spoke Connect
                  anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 100
                  - type: 'null'
                barcodes:
                  description: List of barcode IDs associated with this stop
                  maxItems: 200
                  type: array
                  items:
                    type: string
                    minLength: 1
                    maxLength: 255
                customProperties:
                  description: Key-value pairs of custom stop properties for this stop. The keys must be unique and match a custom stop property defined in your team.
                  anyOf:
                  - type: object
                    propertyNames:
                      description: The custom stop property id
                      type: string
                      maxLength: 50
                    additionalProperties:
                      description: The value of the custom stop property, up to 255 characters.
                      anyOf:
                      - type: string
                        minLength: 1
                        maxLength: 255
                      - type: 'null'
                  - type: 'null'
                serviceInfo:
                  anyOf:
                  - description: Service offering data for this stop. Combines the service identifier and SLA start time. On update, set the whole object to `null` to clear all service info.
                    type: object
                    properties:
                      identifier:
                        anyOf:
                        - description: The identifier of a service offering to assign to this stop. Must match the identifier of a current, non-deleted service offering defined on your team. On update, set it to `null` to remove an assigned service; on create, omit it to leave the stop without a service.
                          type: string
                          minLength: 1
                          maxLength: 32
                          pattern: ^[a-zA-Z0-9]+$
                        - type: 'null'
                      slaStartsAt:
                        anyOf:
                        - description: The SLA start time for this stop, in seconds since Unix epoch. Allows backdating when the actual order time is known. Can be provided with or without a service identifier.
                          type: integer
                          exclusiveMinimum: 0
                          maximum: 9007199254740991
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
              required:
              - address
              additionalProperties: false
        required: true
        description: The request body for creating a stop. The only required field is address, you need to provide at least one of the fields in it. The latitude and longitude fields will override any of the other fields if they are set(and they need to be both set if any of them are). The more fields you provide the more accurate the geocoding will be.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '200':
          description: The created stop
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stopSchema'
                description: The created stop
        '400':
          description: The request has errors (syntactic or semantic), or the named service is not eligible for the stop (operating area, depot, or activity).
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      description: The error code.
                    param:
                      type: string
                      description: The parameter that caused the error.
                    url:
                      type: string
                      description: The URL with more information about the error.
                  required:
                  - message
                  description: Failed to validate the request
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - operating_area_violation
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The assigned service does not operate in the stop’s area
                  title: Service does not operate in the stop’s area
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - operating_area_missing_coordinates
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The service has an operating area but the stop or depot lacks coordinates
                  title: Operating area cannot be evaluated without coordinates
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - service_not_available_at_depot
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The assigned service is not offered at the stop’s depot
                  title: Service is not available at the stop’s depot
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - service_activity_not_supported
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The assigned service offering does not support the stop’s activity
                  title: Service offering does not support the activity
                description: The request has errors (syntactic or semantic), or the named service is not eligible for the stop (operating area, depot, or activity).
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: The plan is no longer accessible or the stop contains fields that require upgrading your team subscription/settings.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                    code:
                      type: string
                      enum:
                      - plan_inaccessible
                    url:
                      type: string
                      enum:
                      - https://dispatch.spoke.com/paywall
                  required:
                  - message
                  - code
                  - url
                  description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  x-response-description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - feature_not_in_subscription
                    url:
                      type: string
                      enum:
                      - https://dispatch.spoke.com/paywall
                  required:
                  - message
                  - code
                  - url
                  description: Feature not included in your team subscription
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - vehicle_capacity_disabled
                    url:
                      type: string
                      enum:
                      - https://dispatch.spoke.com/settings/team-profile
                  required:
                  - message
                  - code
                  - url
                  description: Vehicle capacity mode is disabled in the team's settings
                description: The plan is no longer accessible or the stop contains fields that require upgrading your team subscription/settings.
        '404':
          description: The plan or driver was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                required:
                - message
                description: The plan or driver was not found
        '409':
          description: The plan is not writable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is not writable
                  code:
                    type: string
                    enum:
                    - plan_not_writable
                required:
                - message
                - code
                description: The plan is not writable.
                title: Plan is not writable
        '410':
          description: Failed to create stop
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Failed to create stop. Some related resources were deleted while the request was being processed.
                required:
                - message
                description: Failed to create stop
        '412':
          description: Drivers must be part of the plan to be referenced by stops
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Driver is not linked to plan
                  param:
                    type: string
                    description: The parameter that caused the error.
                required:
                - message
                description: Drivers must be part of the plan to be referenced by stops
                title: Driver is not linked to plan
        '422':
          description: Failed to create stop
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    anyOf:
                    - type: string
                      enum:
                      - An error occurred when creating the stop, but the error is not due to a validation error, instead it is another conflict, check if the provided data is semantically valid.
                    - type: string
                required:
                - message
                description: Failed to create stop
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /plans/{planId}/stops:import:
    post:
      operationId: importStops
      summary: Batch import stops
      tags:
      - Stops
      description: Batch import stops. The request body must contain an array of stops to import. If the plan is not writable, the request will fail, prefer using the Import Live Stops API instead.
      requestBody:
        content:
          application/json:
            schema:
              description: An array of stops to import in batch. Supports a maximum of 100 stops per request.
              minItems: 1
              maxItems: 100
              type: array
              items:
                description: The request body for creating a stop. The only required field is address, you need to provide at least one of the fields in it. The latitude and longitude fields will override any of the other fields if they are set(and they need to be both set if any of them are). The more fields you provide the more accurate the geocoding will be.
                type: object
                properties:
                  address:
                    type: object
                    properties:
                      addressName:
                        description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      addressLineOne:
                        description: The first line of the address.
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      addressLineTwo:
                        description: The second line of the address.
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      city:
                        description: The city of the address.
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 100
                        - type: 'null'
                      state:
                        description: The state of the address.
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 100
                        - type: 'null'
                      zip:
                        description: The zip code of the address.
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 100
                        - type: 'null'
                      country:
                        description: The country of the address.
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 100
                        - type: 'null'
                      latitude:
                        description: The latitude of the address in decimal degrees.
                        anyOf:
                        - type: number
                          minimum: -90
                          maximum: 90
                        - type: 'null'
                      longitude:
                        description: The longitude of the address in decimal degrees.
                        anyOf:
                        - type: number
                          minimum: -180
                          maximum: 180
                        - type: 'null'
                    additionalProperties: false
                  timing:
                    anyOf:
                    - description: Timing information for this stop
                      type: object
                      properties:
                        earliestAttemptTime:
                          description: Time of day of the earliest time this stop should happen
                          anyOf:
                          - description: Time of day in hours and minutes. Use a 24 hour clock.
                            type: object
                            properties:
                              hour:
                                description: Hour of the day
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              minute:
                                description: Minute of the hour
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                            required:
                            - hour
                            - minute
                            additionalProperties: false
                          - type: 'null'
                        latestAttemptTime:
                          description: Time of day of the latest time this stop should happen
                          anyOf:
                          - description: Time of day in hours and minutes. Use a 24 hour clock.
                            type: object
                            properties:
                              hour:
                                description: Hour of the day
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              minute:
                                description: Minute of the hour
                                type: integer
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                            required:
                            - hour
                            - minute
                            additionalProperties: false
                          - type: 'null'
                        estimatedAttemptDuration:
                          description: Duration in seconds of the activity in this stop, only set if you want to override the default. This can be set up to 8 hours.
                          anyOf:
                          - type: integer
                            minimum: -9007199254740991
                            maximum: 9007199254740991
                          - type: 'null'
                      additionalProperties: false
                    - type: 'null'
                  recipient:
                    anyOf:
                    - description: Recipient information for this stop
                      type: object
                      properties:
                        externalId:
                          description: External ID of the recipient, as defined by the API user
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        email:
                          description: Email of the recipient
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        phone:
                          description: Phone number of the recipient
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        name:
                          description: Name of the recipient
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                      additionalProperties: false
                    - type: 'null'
                  orderInfo:
                    anyOf:
                    - description: Order information for this stop
                      type: object
                      properties:
                        products:
                          description: Products in this stop
                          maxItems: 100
                          type: array
                          items:
                            type: string
                            minLength: 1
                            maxLength: 255
                        invoiceNumber:
                          description: Invoice number
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        sellerOrderId:
                          description: Seller order ID
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        sellerName:
                          description: Seller name
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                        sellerWebsite:
                          description: Seller website
                          anyOf:
                          - type: string
                            minLength: 1
                            maxLength: 255
                          - type: 'null'
                      additionalProperties: false
                    - type: 'null'
                  paymentOnDelivery:
                    anyOf:
                    - description: Payment on delivery (also known as "Cash on Delivery") data for this stop
                      type: object
                      properties:
                        amount:
                          description: Amount *in minor units* (e.g. cents) to be collected upon delivery
                          anyOf:
                          - type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          - type: 'null'
                        currency:
                          description: Currency of the payment. Defaults to the team's currency.
                          anyOf:
                          - type: string
                            enum:
                            - AED
                            - ARS
                            - AUD
                            - BRL
                            - CAD
                            - CHF
                            - CLP
                            - CNY
                            - COP
                            - DKK
                            - EGP
                            - EUR
                            - GBP
                            - HKD
                            - HUF
                            - ILS
                            - INR
                            - JPY
                            - KRW
                            - MYR
                            - MXN
                            - NOK
                            - NZD
                            - PEN
                            - RON
                            - RUB
                            - SAR
                            - SEK
                            - SGD
                            - TRY
                            - USD
                            - UYU
                            - ZAR
                          - type: 'null'
                      additionalProperties: false
                    - type: 'null'
                  proofOfAttemptRequirements:
                    anyOf:
                    - description: Proof of attempt requirement settings for this stop
                      type: object
                      properties:
                        enabled:
                          description: Whether proof of attempt is required for this stop
                          anyOf:
                          - type: boolean
                          - type: 'null'
                      additionalProperties: false
                    - type: 'null'
                  allowedDrivers:
                    description: Driver IDs that are allowed to be assigned to this stop. These drivers must be configured as part of the plan to be valid.
                    anyOf:
                    - maxItems: 100
                      type: array
                      items:
                        type: string
                        pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                    - type: 'null'
                  activity:
                    description: Activity type
                    default: delivery
                    anyOf:
                    - type: string
                      enum:
                      - delivery
                      - pickup
                    - type: 'null'
                  optimizationOrder:
                    description: The preferred order of this stop in the optimized route. If not provided or `"default"`, the stop will be placed in the optimal order, decided by the optimization algorithm. Otherwise it will be placed either `"first"` or `"last"`.
                    anyOf:
                    - type: string
                      enum:
                      - first
                      - last
                      - default
                    - type: 'null'
                  packageCount:
                    description: Number of packages in the stop
                    anyOf:
                    - type: number
                      minimum: 1
                      maximum: 10000
                    - type: 'null'
                  weight:
                    description: Weight information for this stop.
                    anyOf:
                    - type: object
                      properties:
                        amount:
                          description: The weight amount for this stop.
                          type: number
                          minimum: 0
                          maximum: 999999
                          multipleOf: 0.01
                        unit:
                          description: The weight unit in which the amount is specified.
                          type: string
                          enum:
                          - kilogram
                          - pound
                          - metric-ton
                      required:
                      - amount
                      - unit
                    - type: 'null'
                  notes:
                    description: Notes for the stop
                    anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 2000
                    - type: 'null'
                  clientId:
                    description: Client ID of the retailer in Spoke Connect
                    anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 100
                    - type: 'null'
                  barcodes:
                    description: List of barcode IDs associated with this stop
                    maxItems: 200
                    type: array
                    items:
                      type: string
                      minLength: 1
                      maxLength: 255
                  customProperties:
                    description: Key-value pairs of custom stop properties for this stop. The keys must be unique and match a custom stop property defined in your team.
                    anyOf:
                    - type: object
                      propertyNames:
                        description: The custom stop property id
                        type: string
                        maxLength: 50
                      additionalProperties:
                        description: The value of the custom stop property, up to 255 characters.
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                    - type: 'null'
                  serviceInfo:
                    anyOf:
                    - description: Service offering data for this stop. Combines the service identifier and SLA start time. On update, set the whole object to `null` to clear all service info.
                      type: object
                      properties:
                        identifier:
                          anyOf:
                          - description: The identifier of a service offering to assign to this stop. Must match the identifier of a current, non-deleted service offering defined on your team. On update, set it to `null` to remove an assigned service; on create, omit it to leave the stop without a service.
                            type: string
                            minLength: 1
                            maxLength: 32
                            pattern: ^[a-zA-Z0-9]+$
                          - type: 'null'
                        slaStartsAt:
                          anyOf:
                          - description: The SLA start time for this stop, in seconds since Unix epoch. Allows backdating when the actual order time is known. Can be provided with or without a service identifier.
                            type: integer
                            exclusiveMinimum: 0
                            maximum: 9007199254740991
                          - type: 'null'
                      additionalProperties: false
                    - type: 'null'
                required:
                - address
                additionalProperties: false
        description: An array of stops to import in batch. Supports a maximum of 100 stops per request.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: array
                    items:
                      type: string
                      pattern: ^plans\/[a-zA-Z0-9---_]{1,50}\/stops\/[a-zA-Z0-9---_]{1,50}$
                      description: The id of the stop, in the format `plans/<id>/stops/<id>`.
                    description: The ids of the successfully imported stops
                  failed:
                    type: array
                    items:
                      type: object
                      properties:
                        error:
                          type: object
                          properties:
                            message:
                              type: string
                              description: The error that occurred during import
                          required:
                          - message
                        stop:
                          type: object
                          properties:
                            address:
                              type: object
                              properties:
                                addressName:
                                  anyOf:
                                  - type: string
                                    minLength: 1
                                    maxLength: 255
                                  - type: 'null'
                                  description: The name of the address. This will not be used for geocoding, and is only for the final address display purposes.
                                addressLineOne:
                                  anyOf:
                                  - type: string
                                    minLength: 1
                                    maxLength: 255
                                  - type: 'null'
                                  description: The first line of the address.
                                addressLineTwo:
                                  anyOf:
                                  - type: string
                                    minLength: 1
                                    maxLength: 255
                                  - type: 'null'
                                  description: The second line of the address.
                                city:
                                  anyOf:
                                  - type: string
                                    minLength: 1
                                    maxLength: 100
                                  - type: 'null'
                                  description: The city of the address.
                                state:
                                  anyOf:
                                  - type: string
                                    minLength: 1
                                    maxLength: 100
                                  - type: 'null'
                                  description: The state of the address.
                                zip:
                                  anyOf:
                                  - type: string
                                    minLength: 1
                                    maxLength: 100
                                  - type: 'null'
                                  description: The zip code of the address.
                                country:
                                  anyOf:
                                  - type: string
                                    minLength: 1
                                    maxLength: 100
                                  - type: 'null'
                                  description: The country of the address.
                                latitude:
                                  anyOf:
                                  - type: number
                                    minimum: -90
                                    maximum: 90
                                  - type: 'null'
                                  description: The latitude of the address in decimal degrees.
                                longitude:
                                  anyOf:
                                  - type: number
                                    minimum: -180
                                    maximum: 180
                                  - type: 'null'
                                  description: The longitude of the address in decimal degrees.
                              required:
                              - addressName
                              - addressLineOne
                              - addressLineTwo
                              - city
                              - state
                              - zip
                              - country
                              - latitude
                              - longitude
                              additionalProperties: false
                              description: The address of the stop that failed to import
                            recipient:
                              anyOf:
                              - type: object
                                properties:
                                  externalId:
                                    anyOf:
                                    - type: string
                                      minLength: 1
                                      maxLength: 255
                                    - type: 'null'
                                    description: External ID of the recipient, as defined by the API user
                                  email:
                                    anyOf:
                                    - type: string
                                      minLength: 1
                                      maxLength: 255
                                    - type: 'null'
                                    description: Email of the recipient
                                  phone:
                                    anyOf:
                                    - type: string
                                      minLength: 1
                                      maxLength: 255
                                    - type: 'null'
                                    description: Phone number of the recipient
                                  name:
                                    anyOf:
                                    - type: string
                                      minLength: 1
                                      maxLength: 255
                                    - type: 'null'
                                    description: Name of the recipient
                                required:
                                - externalId
                                - email
                                - phone
                                - name
                                additionalProperties: false
                              - type: 'null'
                              description: The recipient of the stop that failed to import
                          required:
                          - address
                          - recipient
                          description: The stop that failed to import
                      required:
                      - error
                      - stop
                    description: The failed stops
                required:
                - success
                - failed
                description: Success
        '400':
          description: The request has errors. Either syntactic or semantic
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The request has errors. Either syntactic or semantic
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: The plan is no longer accessible or one or more stops contain fields that require upgrading your team subscription/settings.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                    code:
                      type: string
                      enum:
                      - plan_inaccessible
                    url:
                      type: string
                      enum:
                      - https://dispatch.spoke.com/paywall
                  required:
                  - message
                  - code
                  - url
                  description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  x-response-description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - feature_not_in_subscription
                    url:
                      type: string
                      enum:
                      - https://dispatch.spoke.com/paywall
                  required:
                  - message
                  - code
                  - url
                  description: Feature not included in your team subscription
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - vehicle_capacity_disabled
                    url:
                      type: string
                      enum:
                      - https://dispatch.spoke.com/settings/team-profile
                  required:
                  - message
                  - code
                  - url
                  description: Vehicle capacity mode is disabled in the team's settings
                description: The plan is no longer accessible or one or more stops contain fields that require upgrading your team subscription/settings.
        '404':
          description: A plan or a driver was not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                required:
                - message
                description: A plan or a driver was not found
        '409':
          description: The plan is not writable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is not writable
                  code:
                    type: string
                    enum:
                    - plan_not_writable
                required:
                - message
                - code
                description: The plan is not writable.
                title: Plan is not writable
        '410':
          description: Failed to create stop
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Failed to create stop. Some related resources were deleted while the request was being processed.
                required:
                - message
                description: Failed to create stop
        '412':
          description: Drivers must be part of the plan to be referenced by stops
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Driver is not linked to plan
                  param:
                    type: string
                    description: The parameter that caused the error.
                required:
                - message
                description: Drivers must be part of the plan to be referenced by stops
                title: Driver is not linked to plan
        '422':
          description: Failed to create stop
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    anyOf:
                    - type: string
                      enum:
                      - An error occurred when creating the stop, but the error is not due to a validation error, instead it is another conflict, check if the provided data is semantically valid.
                    - type: string
                required:
                - message
                description: Failed to create stop
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /plans/{planId}/stops/{stopId}:
    patch:
      operationId: updateStop
      summary: Update an existing stop
      tags:
      - Stops
      description: Does not support updating a stop's location, nor the `clientId`. To do so, delete the stop and create a new one. If the plan is not writable, the request will fail, prefer using the Update Live Stops API instead.
      requestBody:
        content:
          application/json:
            schema:
              description: The request body for updating a stop. All the values present in the request will update the stop value, if you wish to update only certain fields, only set them and do not set the others. Any fields not set will not be updated.
              type: object
              properties:
                recipient:
                  anyOf:
                  - description: Recipient information for this stop
                    type: object
                    properties:
                      externalId:
                        description: External ID of the recipient, as defined by the API user
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      email:
                        description: Email of the recipient
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      phone:
                        description: Phone number of the recipient
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      name:
                        description: Name of the recipient
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
                orderInfo:
                  anyOf:
                  - description: Order information for this stop
                    type: object
                    properties:
                      products:
                        description: Products in this stop
                        maxItems: 100
                        type: array
                        items:
                          type: string
                          minLength: 1
                          maxLength: 255
                      invoiceNumber:
                        description: Invoice number
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      sellerOrderId:
                        description: Seller order ID
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      sellerName:
                        description: Seller name
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                      sellerWebsite:
                        description: Seller website
                        anyOf:
                        - type: string
                          minLength: 1
                          maxLength: 255
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
                paymentOnDelivery:
                  anyOf:
                  - description: Payment on delivery (also known as "Cash on Delivery") data for this stop
                    type: object
                    properties:
                      amount:
                        description: Amount *in minor units* (e.g. cents) to be collected upon delivery
                        anyOf:
                        - type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        - type: 'null'
                      currency:
                        description: Currency of the payment. Defaults to the team's currency.
                        anyOf:
                        - type: string
                          enum:
                          - AED
                          - ARS
                          - AUD
                          - BRL
                          - CAD
                          - CHF
                          - CLP
                          - CNY
                          - COP
                          - DKK
                          - EGP
                          - EUR
                          - GBP
                          - HKD
                          - HUF
                          - ILS
                          - INR
                          - JPY
                          - KRW
                          - MYR
                          - MXN
                          - NOK
                          - NZD
                          - PEN
                          - RON
                          - RUB
                          - SAR
                          - SEK
                          - SGD
                          - TRY
                          - USD
                          - UYU
                          - ZAR
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
                proofOfAttemptRequirements:
                  anyOf:
                  - description: Proof of attempt requirement settings for this stop
                    type: object
                    properties:
                      enabled:
                        description: Whether proof of attempt is required for this stop
                        anyOf:
                        - type: boolean
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
                allowedDrivers:
                  description: Driver IDs that are allowed to be assigned to this stop. These drivers must be configured as part of the plan to be valid.
                  anyOf:
                  - maxItems: 100
                    type: array
                    items:
                      type: string
                      pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                  - type: 'null'
                activity:
                  description: Activity type
                  default: delivery
                  anyOf:
                  - type: string
                    enum:
                    - delivery
                    - pickup
                  - type: 'null'
                optimizationOrder:
                  description: The preferred order of this stop in the optimized route. If not provided or `"default"`, the stop will be placed in the optimal order, decided by the optimization algorithm. Otherwise it will be placed either `"first"` or `"last"`.
                  anyOf:
                  - type: string
                    enum:
                    - first
                    - last
                    - default
                  - type: 'null'
                packageCount:
                  description: Number of packages in the stop
                  anyOf:
                  - type: number
                    minimum: 1
                    maximum: 10000
                  - type: 'null'
                weight:
                  description: Weight information for this stop.
                  anyOf:
                  - type: object
                    properties:
                      amount:
                        description: The weight amount for this stop.
                        type: number
                        minimum: 0
                        maximum: 999999
                        multipleOf: 0.01
                      unit:
                        description: The weight unit in which the amount is specified.
                        type: string
                        enum:
                        - kilogram
                        - pound
                        - metric-ton
                    required:
                    - amount
                    - unit
                  - type: 'null'
                notes:
                  description: Notes for the stop
                  anyOf:
                  - type: string
                    minLength: 1
                    maxLength: 2000
                  - type: 'null'
                barcodes:
                  description: List of barcode IDs associated with this stop
                  maxItems: 200
                  type: array
                  items:
                    type: string
                    minLength: 1
                    maxLength: 255
                customProperties:
                  description: Key-value pairs of custom stop properties for this stop. The keys must be unique and match a custom stop property defined in your team.
                  anyOf:
                  - type: object
                    propertyNames:
                      description: The custom stop property id
                      type: string
                      maxLength: 50
                    additionalProperties:
                      description: The value of the custom stop property, up to 255 characters.
                      anyOf:
                      - type: string
                        minLength: 1
                        maxLength: 255
                      - type: 'null'
                  - type: 'null'
                serviceInfo:
                  anyOf:
                  - description: Service offering data for this stop. Combines the service identifier and SLA start time. On update, set the whole object to `null` to clear all service info.
                    type: object
                    properties:
                      identifier:
                        anyOf:
                        - description: The identifier of a service offering to assign to this stop. Must match the identifier of a current, non-deleted service offering defined on your team. On update, set it to `null` to remove an assigned service; on create, omit it to leave the stop without a service.
                          type: string
                          minLength: 1
                          maxLength: 32
                          pattern: ^[a-zA-Z0-9]+$
                        - type: 'null'
                      slaStartsAt:
                        anyOf:
                        - description: The SLA start time for this stop, in seconds since Unix epoch. Allows backdating when the actual order time is known. Can be provided with or without a service identifier.
                          type: integer
                          exclusiveMinimum: 0
                          maximum: 9007199254740991
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
                timing:
                  anyOf:
                  - type: object
                    properties:
                      earliestAttemptTime:
                        description: Time of day of the earliest time this stop should happen
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      latestAttemptTime:
                        description: Time of day of the latest time this stop should happen
                        anyOf:
                        - description: Time of day in hours and minutes. Use a 24 hour clock.
                          type: object
                          properties:
                            hour:
                              description: Hour of the day
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                            minute:
                              description: Minute of the hour
                              type: integer
                              minimum: -9007199254740991
                              maximum: 9007199254740991
                          required:
                          - hour
                          - minute
                          additionalProperties: false
                        - type: 'null'
                      estimatedAttemptDuration:
                        description: Duration in seconds of the activity in this stop, only set if you want to override the default. This can be set up to 8 hours.
                        anyOf:
                        - type: integer
                          minimum: -9007199254740991
                          maximum: 9007199254740991
                        - type: 'null'
                    additionalProperties: false
                  - type: 'null'
              additionalProperties: false
        description: The request body for updating a stop. All the values present in the request will update the stop value, if you wish to update only certain fields, only set them and do not set the others. Any fields not set will not be updated.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: stopId
        required: true
        description: The stop id
      responses:
        '200':
          description: The updated stop
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stopSchema'
                description: The updated stop
        '400':
          description: The request has errors (syntactic or semantic), or the service is not eligible for the stop (activity, operating area, or depot availability).
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      description: The error code.
                    param:
                      type: string
                      description: The parameter that caused the error.
                    url:
                      type: string
                      description: The URL with more information about the error.
                  required:
                  - message
                  description: ID format is invalid
                  title: The request is invalid
                  x-response-description: ID format is invalid
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - service_activity_not_supported
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The assigned service offering does not support the stop’s activity
                  title: Service offering does not support the activity
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Cannot clear slaStartsAt on a stop with an assigned service.
                    code:
                      type: string
                      enum:
                      - sla_start_not_clearable
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The SLA start time cannot be cleared while a service is assigned
                  title: SLA start time is not clearable on an assigned service
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - operating_area_violation
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The assigned service does not operate in the stop’s area
                  title: Service does not operate in the stop’s area
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - operating_area_missing_coordinates
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The service has an operating area but the stop or depot lacks coordinates
                  title: Operating area cannot be evaluated without coordinates
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - service_not_available_at_depot
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: The assigned service is not offered at the stop’s depot
                  title: Service is not available at the stop’s depot
                description: The request has errors (syntactic or semantic), or the service is not eligible for the stop (activity, operating area, or depot availability).
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: The plan is no longer accessible or the stop contains fields that require upgrading your team subscription/settings.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      enum:
                      - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                    code:
                      type: string
                      enum:
                      - plan_inaccessible
                    url:
                      type: string
                      enum:
                      - https://dispatch.spoke.com/paywall
                  required:
                  - message
                  - code
                  - url
                  description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  x-response-description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - feature_not_in_subscription
                    url:
                      type: string
                      enum:
                      - https://dispatch.spoke.com/paywall
                  required:
                  - message
                  - code
                  - url
                  description: Feature not included in your team subscription
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - vehicle_capacity_disabled
                    url:
                      type: string
                      enum:
                      - https://dispatch.spoke.com/settings/team-profile
                  required:
                  - message
                  - code
                  - url
                  description: Vehicle capacity mode is disabled in the team's settings
                description: The plan is no longer accessible or the stop contains fields that require upgrading your team subscription/settings.
        '404':
          description: The plan, stop, or referenced service offering could not be found.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                  required:
                  - message
                  description: Not Found
                - type: object
                  properties:
                    message:
                      type: string
                      description: The error message.
                    code:
                      type: string
                      enum:
                      - service_offering_not_found
                    param:
                      type: string
                      description: The parameter that caused the error.
                  required:
                  - message
                  - code
                  description: No current service offering matches the provided identifier
                  title: Service offering not found
                description: The plan, stop, or referenced service offering could not be found.
        '409':
          description: The plan is not writable.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is not writable
                  code:
                    type: string
                    enum:
                    - plan_not_writable
                required:
                - message
                - code
                description: The plan is not writable.
                title: Plan is not writable
        '412':
          description: Drivers must be part of the plan to be referenced by stops
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Driver is not linked to plan
                  param:
                    type: string
                    description: The parameter that caused the error.
                required:
                - message
                description: Drivers must be part of the plan to be referenced by stops
                title: Driver is not linked to plan
        '422':
          description: Failed to create stop
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    anyOf:
                    - type: string
                      enum:
                      - An error occurred when creating the stop, but the error is not due to a validation error, instead it is another conflict, check if the provided data is semantically valid.
                    - type: string
                required:
                - message
                description: Failed to create stop
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    get:
      operationId: getStop
      summary: Retrieve a stop
      tags:
      - Stops
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: stopId
        required: true
        description: The stop id
      responses:
        '200':
          description: The requested stop
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stopSchema'
                description: The requested stop
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
                  code:
                    type: string
                    enum:
                    - plan_inaccessible
                  url:
                    type: string
                    enum:
                    - https://dispatch.spoke.com/paywall
                required:
                - message
                - code
                - url
                description: Plan is no longer accessible due to data access restrictions. Upgrade to a plan that supports a longer delivery history period to access it.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                required:
                - message
                description: Not Found
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
    delete:
      operationId: deleteStop
      summary: Delete a stop
      tags:
      - Stops
      description: Delete a stop. This action cannot be undone and will delete all the data associated with the stop. If the plan is not writable, this will fail, prefer using the Live Delete Stop API instead.
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: planId
        required: true
        description: The plan id
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: stopId
        required: true
        description: The stop id
      responses:
        '204':
          description: Stop deleted successfully
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
[...]
