openapi: 3.2.0
info:
  title: Spoke Routes API
  description: This is the documentation of the Spoke Public API HTTP endpoints.
  version: v1
servers:
- url: https://api.spoke.com/public/v1
security:
- BasicAuth: []
tags:
- name: Routes
  description: 'Endpoints to operate on Routes resources.


    This resource is currently read-only on the API.'
paths:
  /routes/{routeId}:
    get:
      operationId: getRoute
      summary: Retrieve a route
      tags:
      - Routes
      parameters:
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: routeId
        required: true
        description: The route id
      responses:
        '200':
          description: The requested route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/routeSchema'
                description: The requested route
        '400':
          description: ID format is invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: ID format is invalid
                title: The request is invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Route is no longer accessible due to data access restrictions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Route is no longer accessible due to data access restrictions.
                  code:
                    type: string
                    enum:
                    - route_inaccessible
                required:
                - message
                - code
                description: Route is no longer accessible due to data access restrictions.
        '404':
          description: The provided route id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Route not found
                required:
                - message
                description: The provided route id does not exist
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /routes:
    get:
      operationId: listRoutes
      summary: List Routes
      tags:
      - Routes
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 255
        in: query
        name: pageToken
        required: false
        description: The page token to continue from.
      - schema:
          default: 20
          type: number
          minimum: 1
          maximum: 20
        in: query
        name: maxPageSize
        required: false
        description: The maximum number of routes to return.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  routes:
                    type: array
                    items:
                      $ref: '#/components/schemas/routeSchema'
                    description: The routes.
                  nextPageToken:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The next page token.
                required:
                - routes
                - nextPageToken
                definitions:
                  routeSchema:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^routes\/[a-zA-Z0-9---_]{1,50}$
                        description: The id of the route, in the format `routes/<id>`.
                      title:
                        type: string
                        description: The title of the route.
                      stopCount:
                        type: number
                        description: The number of stops in the route.
                      driver:
                        anyOf:
                        - type: string
                          pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                        - type: 'null'
                        description: The id of the driver.
                      state:
                        anyOf:
                        - type: object
                          properties:
                            completed:
                              type: boolean
                              description: Whether the route is completed.
                            completedAt:
                              anyOf:
                              - type: number
                              - type: 'null'
                              description: The timestamp the route was completed at.
                            distributed:
                              type: boolean
                              description: Whether the route is distributed.
                            distributedAt:
                              anyOf:
                              - type: number
                              - type: 'null'
                              description: The timestamp the route was distributed at.
                            notifiedRecipients:
                              type: boolean
                              description: Whether the recipients were notified.
                            notifiedRecipientsAt:
                              anyOf:
                              - type: number
                              - type: 'null'
                              description: The timestamp the recipients were notified at.
                            started:
                              type: boolean
                              description: Whether the route is started.
                            startedAt:
                              anyOf:
                              - type: number
                              - type: 'null'
                              description: The timestamp the route was started at.
                          required:
                          - completed
                          - completedAt
                          - distributed
                          - distributedAt
                          - notifiedRecipients
                          - notifiedRecipientsAt
                          - started
                          - startedAt
                          additionalProperties: false
                          description: The state of a route.
                        - type: 'null'
                        description: The state of the route.
                      plan:
                        anyOf:
                        - type: string
                          pattern: ^plans\/[a-zA-Z0-9---_]{1,50}$
                        - type: 'null'
                        description: The id of the related plan.
                    required:
                    - id
                    - title
                    - stopCount
                    - driver
                    - state
                    - plan
                    additionalProperties: false
                    description: A route.
                description: Success
        '400':
          description: Query parameters are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Query parameters are invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
  /routes/{routeId}/stops:
    get:
      operationId: listRouteStops
      summary: List route stops
      tags:
      - Routes
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 255
        in: query
        name: pageToken
        required: false
        description: The page token, if any.
      - schema:
          default: 10
          type: number
          minimum: 1
          maximum: 10
        in: query
        name: maxPageSize
        required: false
        description: The max page size.
      - schema:
          type: object
          properties:
            externalId:
              description: Filter by the `recipient.externalId` field, exact match
              type: string
              minLength: 1
              maxLength: 255
          additionalProperties: false
        in: query
        name: filter
        required: false
        description: 'The filter to apply to the list of stops. The filter params are passed like this: `?filter[externalId]=foo` or like this: `?filter.externalId=foo`'
      - schema:
          type: string
          pattern: ^[a-zA-Z0-9---_]{1,50}$
        in: path
        name: routeId
        required: true
        description: The route id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  stops:
                    type: array
                    items:
                      $ref: '#/components/schemas/stopSchema'
                    description: The stops list.
                  nextPageToken:
                    anyOf:
                    - type: string
                    - type: 'null'
                    description: The next page token.
                required:
                - stops
                - nextPageToken
                definitions:
                  stopSchema:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^plans\/[a-zA-Z0-9---_]{1,50}\/stops\/[a-zA-Z0-9---_]{1,50}$
                        description: The id of the stop, in the format `plans/<id>/stops/<id>`.
                      address:
                        type: object
                        properties:
                          address:
                            type: string
                            description: The address of the stop.
                          addressLineOne:
                            type: string
                            description: The first line of the address.
                          addressLineTwo:
                            type: string
                            description: The second line of the address.
                          latitude:
                            anyOf:
                            - type: number
                              minimum: -90
                              maximum: 90
                            - type: 'null'
                            description: The latitude of the address in decimal degrees.
                          longitude:
                            anyOf:
                            - type: number
                              minimum: -180
                              maximum: 180
                            - type: 'null'
                            description: The longitude of the address in decimal degrees.
                          placeId:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: The identifier of the place corresponding to this stop on Google Places
                          placeTypes:
                            type: array
                            items:
                              type: string
                            description: Array of strings that is provided by the Google AutoCompleteAPI
                        required:
                        - address
                        - addressLineOne
                        - addressLineTwo
                        - latitude
                        - longitude
                        - placeId
                        - placeTypes
                        additionalProperties: false
                        description: The address of the stop.
                      barcodes:
                        type: array
                        items:
                          type: string
                        description: List of Barcode IDs associated with the stop.
                      allowedDrivers:
                        type: array
                        items:
                          type: string
                          pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                        description: The driver IDs that can be assigned to this stop
                      estimatedTravelDuration:
                        anyOf:
                        - type: number
                        - type: 'null'
                        description: Estimated time that the driver will take to arrive at this stop from the previous stop in seconds.
                      estimatedTravelDistance:
                        anyOf:
                        - type: number
                        - type: 'null'
                        description: The distance in meters between the previous stop and this stop.
                      notes:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: Notes for the stop.
                      packageCount:
                        anyOf:
                        - type: number
                        - type: 'null'
                        description: The number of packages.
                      weight:
                        anyOf:
                        - type: object
                          properties:
                            amount:
                              type: number
                              minimum: 0
                              description: The weight amount for this stop.
                            unit:
                              type: string
                              enum:
                              - kilogram
                              - pound
                              - metric-ton
                              description: The weight unit in which the amount is specified (defined at team's capacity unit).
                          required:
                          - amount
                          - unit
                          additionalProperties: false
                          description: Weight information for the stop.
                        - type: 'null'
                      type:
                        type: string
                        enum:
                        - start
                        - stop
                        - end
                        description: The type of the stop. `start` is the first stop of the route, `stop` is a stop in the middle of the route, and `end` is the last stop of the route.
                      packageLabel:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: The label of the package.
                      stopPosition:
                        anyOf:
                        - type: number
                        - type: 'null'
                        description: The position of the stop in the route.
                      trackingLink:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: The recipient tracking link.
                      webAppLink:
                        type: string
                        description: The web app link.
                      orderInfo:
                        type: object
                        properties:
                          products:
                            type: array
                            items:
                              type: string
                            description: The products of the stop.
                          invoiceNumber:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: Invoice number associated with the order.
                          sellerName:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: Name of the seller where the order is from.
                          sellerOrderId:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: Id of the seller where the order is from.
                          sellerWebsite:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: Website of the seller where the order is from.
                        required:
                        - products
                        - invoiceNumber
                        - sellerName
                        - sellerOrderId
                        - sellerWebsite
                        additionalProperties: false
                        description: The order information of the stop.
                      placeInVehicle:
                        anyOf:
                        - type: object
                          properties:
                            x:
                              anyOf:
                              - type: string
                                enum:
                                - left
                                - right
                              - type: 'null'
                              description: The x position of the package.
                            y:
                              anyOf:
                              - type: string
                                enum:
                                - front
                                - back
                                - middle
                              - type: 'null'
                              description: The y position of the package.
                            z:
                              anyOf:
                              - type: string
                                enum:
                                - floor
                                - shelf
                              - type: 'null'
                              description: The z position of the package.
                          required:
                          - x
                          - y
                          - z
                          additionalProperties: false
                          description: The position of the package in the vehicle.
                        - type: 'null'
                      recipient:
                        type: object
                        properties:
                          name:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: The name of the recipient.
                          email:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: The email of the recipient.
                          phone:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: The phone of the recipient.
                          externalId:
                            anyOf:
                            - type: string
                            - type: 'null'
                            description: The external id of the recipient.
                        required:
                        - name
                        - email
                        - phone
                        - externalId
                        additionalProperties: false
                        description: The recipient of the stop.
                      activity:
                        default: delivery
                        type: string
                        enum:
                        - delivery
                        - pickup
                      deliveryInfo:
                        anyOf:
                        - type: object
                          properties:
                            attempted:
                              type: boolean
                              description: Whether the stop was attempted.
                            attemptedAt:
                              anyOf:
                              - type: number
                              - type: 'null'
                              description: When the stop was attempted in seconds since epoch.
                            timeAtStopInfo:
                              oneOf:
                              - type: object
                                properties:
                                  status:
                                    type: string
                                    enum:
                                    - available
                                  value:
                                    type: object
                                    properties:
                                      arrivedAt:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                        description: When the driver arrived at the stop in seconds since epoch.
                                      departedAt:
                                        anyOf:
                                        - type: number
                                        - type: 'null'
                                        description: When the driver departed from the stop in seconds since epoch.
                                      isEstimated:
                                        anyOf:
                                        - type: boolean
                                        - type: 'null'
                                        description: Whether the time at stop was estimated rather than directly measured.
                                    required:
                                    - arrivedAt
                                    - departedAt
                                    - isEstimated
                                    additionalProperties: false
                                    description: Grouped time-at-stop data.
                                required:
                                - status
                                - value
                                additionalProperties: false
                              - type: object
                                properties:
                                  status:
                                    type: string
                                    enum:
                                    - restricted
                                  requiredFeature:
                                    type: string
                                  upgradeUrl:
                                    type: string
                                  restrictionCode:
                                    type: string
                                    enum:
                                    - subscription_not_supported
                                required:
                                - status
                                additionalProperties: false
                              - type: object
                                properties:
                                  status:
                                    type: string
                                    enum:
                                    - pending
                                  pendingReason:
                                    type: string
                                    enum:
                                    - not_yet_arrived
                                required:
                                - status
                                additionalProperties: false
                            attemptedLocation:
                              anyOf:
                              - type: object
                                properties:
                                  latitude:
                                    type: number
                                    description: The latitude of the location.
                                  longitude:
                                    type: number
                                    description: The longitude of the location.
                                required:
                                - latitude
                                - longitude
                                additionalProperties: false
                                description: A location.
                              - type: 'null'
                              description: Where the stop was attempted.
                            driverProvidedInternalNotes:
                              anyOf:
                              - type: string
                              - type: 'null'
                              description: Internal notes provided by the driver.
                            driverProvidedRecipientNotes:
                              anyOf:
                              - type: string
                              - type: 'null'
                              description: Recipient notes provided by the driver.
                            photoUrls:
                              type: array
                              items:
                                type: string
                              description: URLs of proof of delivery photos.
                            recipientProvidedNotes:
                              anyOf:
                              - type: string
                              - type: 'null'
                              description: Notes from recipient
                            signatureUrl:
                              anyOf:
                              - type: string
                              - type: 'null'
                              description: URL of the signature.
                            signeeName:
                              anyOf:
                              - type: string
                              - type: 'null'
                              description: Name of the signee.
                            succeeded:
                              type: boolean
                              description: Whether the stop was succeeded.
                            state:
                              type: string
                              enum:
                              - delivered_to_recipient
                              - delivered_to_third_party
                              - delivered_to_mailbox
                              - delivered_to_safe_place
                              - delivered_to_pickup_point
                              - delivered_other
                              - picked_up_from_customer
                              - picked_up_unmanned
                              - picked_up_from_locker
                              - picked_up_other
                              - failed_not_home
                              - failed_cant_find_address
                              - failed_no_parking
                              - failed_no_time
                              - failed_package_not_available
                              - failed_other
                              - failed_missing_required_proof
                              - failed_payment_not_received
                              - unattempted
                              description: The state of the delivery.
                          required:
                          - attempted
                          - attemptedAt
                          - timeAtStopInfo
                          - attemptedLocation
                          - driverProvidedInternalNotes
                          - driverProvidedRecipientNotes
                          - photoUrls
                          - recipientProvidedNotes
                          - signatureUrl
                          - signeeName
                          - succeeded
                          - state
                          additionalProperties: false
                          description: The delivery information of the stop.
                        - type: 'null'
                      paymentOnDelivery:
                        anyOf:
                        - type: object
                          properties:
                            amount:
                              anyOf:
                              - type: integer
                                minimum: 0
                                maximum: 9007199254740991
                              - type: 'null'
                              description: The amount *in minor units* (e.g. cents) to be collected upon delivery.
                            currency:
                              type: string
                              description: The payment's currency in ISO 4217 standard.
                          required:
                          - amount
                          - currency
                          additionalProperties: false
                          description: The payment due upon delivery also known as "Cash on Delivery".
                        - type: 'null'
                      proofOfAttemptRequirements:
                        type: object
                        properties:
                          enabled:
                            anyOf:
                            - type: boolean
                            - type: 'null'
                            description: Whether the proof of attempt is enabled.This only works if the team subscription has access to proof of delivery
                        required:
                        - enabled
                        additionalProperties: false
                        description: The proof of attempt requirements of the stop.
                      plan:
                        type: string
                        pattern: ^plans\/[a-zA-Z0-9---_]{1,50}$
                        description: The id of the plan, in the format `plans/<id>`.
                      route:
                        anyOf:
                        - type: object
                          properties:
                            id:
                              type: string
                              pattern: ^routes\/[a-zA-Z0-9---_]{1,50}$
                              description: The id of the route, in the format `routes/<id>`.
                            title:
                              type: string
                              description: The title of the route.
                            stopCount:
                              type: number
                              description: The number of stops in the route.
                            driver:
                              anyOf:
                              - type: string
                                pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
                              - type: 'null'
                              description: The id of the driver.
                            state:
                              anyOf:
                              - type: object
                                properties:
                                  completed:
                                    type: boolean
                                    description: Whether the route is completed.
                                  completedAt:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                    description: The timestamp the route was completed at.
                                  distributed:
                                    type: boolean
                                    description: Whether the route is distributed.
                                  distributedAt:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                    description: The timestamp the route was distributed at.
                                  notifiedRecipients:
                                    type: boolean
                                    description: Whether the recipients were notified.
                                  notifiedRecipientsAt:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                    description: The timestamp the recipients were notified at.
                                  started:
                                    type: boolean
                                    description: Whether the route is started.
                                  startedAt:
                                    anyOf:
                                    - type: number
                                    - type: 'null'
                                    description: The timestamp the route was started at.
                                required:
                                - completed
                                - completedAt
                                - distributed
                                - distributedAt
                                - notifiedRecipients
                                - notifiedRecipientsAt
                                - started
                                - startedAt
                                additionalProperties: false
                                description: The state of a route.
                              - type: 'null'
                              description: The state of the route.
                            plan:
                              anyOf:
                              - type: string
                                pattern: ^plans\/[a-zA-Z0-9---_]{1,50}$
                              - type: 'null'
                              description: The id of the related plan.
                          required:
                          - id
                          - title
                          - stopCount
                          - driver
                          - state
                          - plan
                          additionalProperties: false
                          description: A route.
                        - type: 'null'
                        description: The route of the stop, if any.
                      eta:
                        oneOf:
                        - type: object
                          properties:
                            status:
                              type: string
                              enum:
                              - available
                            value:
                              type: object
                              properties:
                                estimatedArrivalAt:
                                  type: number
                                  description: The estimated time in seconds since epoch.
                                estimatedLatestArrivalAt:
                                  type: number
                                  description: The latest estimated time in seconds since epoch.
                                estimatedEarliestArrivalAt:
                                  type: number
                                  description: The earliest estimated time in seconds since epoch.
                              required:
                              - estimatedArrivalAt
                              - estimatedLatestArrivalAt
                              - estimatedEarliestArrivalAt
                              additionalProperties: false
                              description: The estimated time of arrival data of the stop.
                          required:
                          - status
                          - value
                          additionalProperties: false
                        - type: object
                          properties:
                            status:
                              type: string
                              enum:
                              - restricted
                            requiredFeature:
                              type: string
                            upgradeUrl:
                              type: string
                            restrictionCode:
                              type: string
                              enum:
                              - subscription_not_supported
                          required:
                          - status
                          additionalProperties: false
                        - type: object
                          properties:
                            status:
                              type: string
                              enum:
                              - pending
                            pendingReason:
                              type: string
                              enum:
                              - not_optimized
                          required:
                          - status
                          additionalProperties: false
                      timing:
                        type: object
                        properties:
                          estimatedAttemptDuration:
                            anyOf:
                            - type: number
                            - type: 'null'
                            description: Time that the driver estimates to spend on the stop to do his job (deliver a parcel, visit a client, etc) in seconds.
                          earliestAttemptTime:
                            anyOf:
                            - type: object
                              properties:
                                hour:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                  description: Hour of the day
                                minute:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                  description: Minute of the hour
                              required:
                              - hour
                              - minute
                              additionalProperties: false
                              description: Time of day in hours and minutes. Uses a 24 hour clock.
                            - type: 'null'
                            description: The earliest time that the driver should arrive at the stop
                          latestAttemptTime:
                            anyOf:
                            - type: object
                              properties:
                                hour:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                  description: Hour of the day
                                minute:
                                  type: integer
                                  minimum: -9007199254740991
                                  maximum: 9007199254740991
                                  description: Minute of the hour
                              required:
                              - hour
                              - minute
                              additionalProperties: false
                              description: Time of day in hours and minutes. Uses a 24 hour clock.
                            - type: 'null'
                            description: The latest time that the driver should arrive at the stop.
                        required:
                        - estimatedAttemptDuration
                        - earliestAttemptTime
                        - latestAttemptTime
                        additionalProperties: false
                        description: The timing data of the stop.
                      optimizationOrder:
                        default: default
                        type: string
                        enum:
                        - first
                        - last
                        - default
                      customProperties:
                        anyOf:
                        - type: object
                          propertyNames:
                            type: string
                          additionalProperties:
                            anyOf:
                            - type: string
                            - type: 'null'
                        - type: 'null'
                        description: Custom properties of the stop, can be used to store additional information.
                      clientId:
                        anyOf:
                        - type: string
                        - type: 'null'
                        description: The associated Client ID of the Spoke Connect
                      serviceInfo:
                        oneOf:
                        - type: object
                          properties:
                            status:
                              type: string
                              enum:
                              - available
                            value:
                              anyOf:
                              - type: object
                                properties:
                                  identifier:
                                    type: string
                                    description: The service offering identifier, as configured in Spoke Dispatch, captured at assignment time. Not currently discoverable through the public API.
                                  name:
                                    type: string
                                    description: The human-readable service name.
                                  slaStartsAt:
                                    type: number
                                    description: The SLA start time in seconds since epoch.
                                  slaDueDate:
                                    type: object
                                    properties:
                                      day:
                                        type: integer
                                        minimum: 1
                                        maximum: 31
                                        description: The day of the date.
                                      month:
                                        type: integer
                                        minimum: 1
                                        maximum: 12
                                        description: The month of the date.
                                      year:
                                        type: integer
                                        minimum: 2000
                                        maximum: 2100
                                        description: The year of the date.
                                    required:
                                    - day
                                    - month
                                    - year
                                    additionalProperties: false
                                    description: The computed SLA due date in the team's timezone.
                                  slaDueTime:
                                    anyOf:
                                    - type: object
                                      properties:
                                        hour:
                                          type: integer
                                          minimum: -9007199254740991
                                          maximum: 9007199254740991
                                          description: Hour of the day
                                        minute:
                                          type: integer
                                          minimum: -9007199254740991
                                          maximum: 9007199254740991
                                          description: Minute of the hour
                                      required:
                                      - hour
                                      - minute
                                      additionalProperties: false
                                      description: Time of day in hours and minutes. Uses a 24 hour clock.
                                    - type: 'null'
                                    description: SLA due time-of-day in the team's timezone, null for day-level SLA.
                                  deliveryHorizon:
                                    type: object
                                    properties:
                                      unit:
                                        anyOf:
                                        - type: string
                                          enum:
                                          - days
                                          - hours
                                        - type: string
                                        description: 'The time unit of the delivery horizon. Known: `days`, `hours`.'
                                      value:
                                        type: number
                                        description: The number of time units in the delivery horizon.
                                    required:
                                    - unit
                                    - value
                                    additionalProperties: false
                                    description: The delivery horizon for this service.
                                  price:
                                    type: object
                                    properties:
                                      value:
                                        type: number
                                        description: Price in minor currency units (e.g. cents).
                                      currency:
                                        anyOf:
                                        - type: string
                                          enum:
                                          - AED
                                          - ARS
                                          - AUD
                                          - BRL
                                          - CAD
                                          - CHF
                                          - CLP
                                          - CNY
                                          - COP
                                          - DKK
                                          - EGP
                                          - EUR
                                          - GBP
                                          - HKD
                                          - HUF
                                          - ILS
                                          - INR
                                          - JPY
                                          - KRW
                                          - MYR
                                          - MXN
                                          - NOK
                                          - NZD
                                          - PEN
                                          - RON
                                          - RUB
                                          - SAR
                                          - SEK
                                          - SGD
                                          - TRY
                                          - USD
                                          - UYU
                                          - ZAR
                                        - type: string
                                        description: 3-letter ISO 4217 currency code.
                                    required:
                                    - value
                                    - currency
                                    additionalProperties: false
                                    description: Price for this service at assignment time.
                                  hasPaymentOnDelivery:
                                    type: boolean
                                    description: Whether cash on delivery is enabled via the service.
                                  definedAt:
                                    type: number
                                    description: When the service was assigned in seconds since epoch.
                                required:
                                - identifier
                                - name
                                - slaStartsAt
                                - slaDueDate
                                - slaDueTime
                                - deliveryHorizon
                                - price
                                - hasPaymentOnDelivery
                                - definedAt
                                additionalProperties: false
                                description: Service offering data when a service is assigned to the stop.
                              - type: object
                                properties:
                                  identifier:
                                    type: 'null'
                                    description: Null indicates no service offering is linked.
                                  slaStartsAt:
                                    type: number
                                    description: The SLA start time in seconds since epoch.
                                required:
                                - identifier
                                - slaStartsAt
                                additionalProperties: false
                                description: Service data when only an SLA start time is set.
                              description: Service offering data for this stop.
                          required:
                          - status
                          - value
                          additionalProperties: false
                        - type: object
                          properties:
                            status:
                              type: string
                              enum:
                              - empty
                          required:
                          - status
                          additionalProperties: false
                        - type: object
                          properties:
                            status:
                              type: string
                              enum:
                              - restricted
                            requiredFeature:
                              type: string
                            upgradeUrl:
                              type: string
                            restrictionCode:
                              type: string
                              enum:
                              - subscription_not_supported
                          required:
                          - status
                          additionalProperties: false
                        description: Service offering data for this stop.
                    required:
                    - id
                    - address
                    - barcodes
                    - allowedDrivers
                    - estimatedTravelDuration
                    - estimatedTravelDistance
                    - notes
                    - packageCount
                    - weight
                    - type
                    - packageLabel
                    - stopPosition
                    - trackingLink
                    - webAppLink
                    - orderInfo
                    - placeInVehicle
                    - recipient
                    - deliveryInfo
                    - paymentOnDelivery
                    - proofOfAttemptRequirements
                    - plan
                    - route
                    - eta
                    - timing
                    - customProperties
                    - clientId
                    - serviceInfo
                    additionalProperties: false
                    description: A stop of a plan, can be related to a route.
                description: Success
        '400':
          description: Query parameters are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Query parameters are invalid
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: Unauthorized
        '403':
          description: Route is no longer accessible due to data access restrictions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Route is no longer accessible due to data access restrictions.
                  code:
                    type: string
                    enum:
                    - route_inaccessible
                required:
                - message
                - code
                description: Route is no longer accessible due to data access restrictions.
        '404':
          description: The provided route id does not exist
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    enum:
                    - Route not found
                required:
                - message
                description: The provided route id does not exist
        '500':
          description: An internal server error occurred
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: An internal server error occurred
        default:
          description: The default error model
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The error message.
                  code:
                    type: string
                    description: The error code.
                  param:
                    type: string
                    description: The parameter that caused the error.
                  url:
                    type: string
                    description: The URL with more information about the error.
                required:
                - message
                description: The default error model
components:
  schemas:
    planIdSchema:
      type: string
      pattern: ^plans\/[a-zA-Z0-9---_]{1,50}$
    stopSchema:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/stopIdSchema'
          description: The id of the stop, in the format `plans/<id>/stops/<id>`.
        address:
          type: object
          properties:
            address:
              type: string
              description: The address of the stop.
            addressLineOne:
              type: string
              description: The first line of the address.
            addressLineTwo:
              type: string
              description: The second line of the address.
            latitude:
              anyOf:
              - type: number
                minimum: -90
                maximum: 90
              - type: 'null'
              description: The latitude of the address in decimal degrees.
            longitude:
              anyOf:
              - type: number
                minimum: -180
                maximum: 180
              - type: 'null'
              description: The longitude of the address in decimal degrees.
            placeId:
              anyOf:
              - type: string
              - type: 'null'
              description: The identifier of the place corresponding to this stop on Google Places
            placeTypes:
              type: array
              items:
                type: string
              description: Array of strings that is provided by the Google AutoCompleteAPI
          required:
          - address
          - addressLineOne
          - addressLineTwo
          - latitude
          - longitude
          - placeId
          - placeTypes
          additionalProperties: false
          description: The address of the stop.
        barcodes:
          type: array
          items:
            type: string
          description: List of Barcode IDs associated with the stop.
        allowedDrivers:
          type: array
          items:
            type: string
            pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
          description: The driver IDs that can be assigned to this stop
        estimatedTravelDuration:
          anyOf:
          - type: number
          - type: 'null'
          description: Estimated time that the driver will take to arrive at this stop from the previous stop in seconds.
        estimatedTravelDistance:
          anyOf:
          - type: number
          - type: 'null'
          description: The distance in meters between the previous stop and this stop.
        notes:
          anyOf:
          - type: string
          - type: 'null'
          description: Notes for the stop.
        packageCount:
          anyOf:
          - type: number
          - type: 'null'
          description: The number of packages.
        weight:
          anyOf:
          - type: object
            properties:
              amount:
                type: number
                minimum: 0
                description: The weight amount for this stop.
              unit:
                type: string
                enum:
                - kilogram
                - pound
                - metric-ton
                description: The weight unit in which the amount is specified (defined at team's capacity unit).
            required:
            - amount
            - unit
            additionalProperties: false
            description: Weight information for the stop.
          - type: 'null'
        type:
          type: string
          enum:
          - start
          - stop
          - end
          description: The type of the stop. `start` is the first stop of the route, `stop` is a stop in the middle of the route, and `end` is the last stop of the route.
        packageLabel:
          anyOf:
          - type: string
          - type: 'null'
          description: The label of the package.
        stopPosition:
          anyOf:
          - type: number
          - type: 'null'
          description: The position of the stop in the route.
        trackingLink:
          anyOf:
          - type: string
          - type: 'null'
          description: The recipient tracking link.
        webAppLink:
          type: string
          description: The web app link.
        orderInfo:
          type: object
          properties:
            products:
              type: array
              items:
                type: string
              description: The products of the stop.
            invoiceNumber:
              anyOf:
              - type: string
              - type: 'null'
              description: Invoice number associated with the order.
            sellerName:
              anyOf:
              - type: string
              - type: 'null'
              description: Name of the seller where the order is from.
            sellerOrderId:
              anyOf:
              - type: string
              - type: 'null'
              description: Id of the seller where the order is from.
            sellerWebsite:
              anyOf:
              - type: string
              - type: 'null'
              description: Website of the seller where the order is from.
          required:
          - products
          - invoiceNumber
          - sellerName
          - sellerOrderId
          - sellerWebsite
          additionalProperties: false
          description: The order information of the stop.
        placeInVehicle:
          anyOf:
          - type: object
            properties:
              x:
                anyOf:
                - type: string
                  enum:
                  - left
                  - right
                - type: 'null'
                description: The x position of the package.
              y:
                anyOf:
                - type: string
                  enum:
                  - front
                  - back
                  - middle
                - type: 'null'
                description: The y position of the package.
              z:
                anyOf:
                - type: string
                  enum:
                  - floor
                  - shelf
                - type: 'null'
                description: The z position of the package.
            required:
            - x
            - y
            - z
            additionalProperties: false
            description: The position of the package in the vehicle.
          - type: 'null'
        recipient:
          type: object
          properties:
            name:
              anyOf:
              - type: string
              - type: 'null'
              description: The name of the recipient.
            email:
              anyOf:
              - type: string
              - type: 'null'
              description: The email of the recipient.
            phone:
              anyOf:
              - type: string
              - type: 'null'
              description: The phone of the recipient.
            externalId:
              anyOf:
              - type: string
              - type: 'null'
              description: The external id of the recipient.
          required:
          - name
          - email
          - phone
          - externalId
          additionalProperties: false
          description: The recipient of the stop.
        activity:
          default: delivery
          type: string
          enum:
          - delivery
          - pickup
        deliveryInfo:
          anyOf:
          - type: object
            properties:
              attempted:
                type: boolean
                description: Whether the stop was attempted.
              attemptedAt:
                anyOf:
                - type: number
                - type: 'null'
                description: When the stop was attempted in seconds since epoch.
              timeAtStopInfo:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      enum:
                      - available
                    value:
                      type: object
                      properties:
                        arrivedAt:
                          anyOf:
                          - type: number
                          - type: 'null'
                          description: When the driver arrived at the stop in seconds since epoch.
                        departedAt:
                          anyOf:
                          - type: number
                          - type: 'null'
                          description: When the driver departed from the stop in seconds since epoch.
                        isEstimated:
                          anyOf:
                          - type: boolean
                          - type: 'null'
                          description: Whether the time at stop was estimated rather than directly measured.
                      required:
                      - arrivedAt
                      - departedAt
                      - isEstimated
                      additionalProperties: false
                      description: Grouped time-at-stop data.
                  required:
                  - status
                  - value
                  additionalProperties: false
                - type: object
                  properties:
                    status:
                      type: string
                      enum:
                      - restricted
                    requiredFeature:
                      type: string
                    upgradeUrl:
                      type: string
                    restrictionCode:
                      type: string
                      enum:
                      - subscription_not_supported
                  required:
                  - status
                  additionalProperties: false
                - type: object
                  properties:
                    status:
                      type: string
                      enum:
                      - pending
                    pendingReason:
                      type: string
                      enum:
                      - not_yet_arrived
                  required:
                  - status
                  additionalProperties: false
              attemptedLocation:
                anyOf:
                - type: object
                  properties:
                    latitude:
                      type: number
                      description: The latitude of the location.
                    longitude:
                      type: number
                      description: The longitude of the location.
                  required:
                  - latitude
                  - longitude
                  additionalProperties: false
                  description: A location.
                - type: 'null'
                description: Where the stop was attempted.
              driverProvidedInternalNotes:
                anyOf:
                - type: string
                - type: 'null'
                description: Internal notes provided by the driver.
              driverProvidedRecipientNotes:
                anyOf:
                - type: string
                - type: 'null'
                description: Recipient notes provided by the driver.
              photoUrls:
                type: array
                items:
                  type: string
                description: URLs of proof of delivery photos.
              recipientProvidedNotes:
                anyOf:
                - type: string
                - type: 'null'
                description: Notes from recipient
              signatureUrl:
                anyOf:
                - type: string
                - type: 'null'
                description: URL of the signature.
              signeeName:
                anyOf:
                - type: string
                - type: 'null'
                description: Name of the signee.
              succeeded:
                type: boolean
                description: Whether the stop was succeeded.
              state:
                type: string
                enum:
                - delivered_to_recipient
                - delivered_to_third_party
                - delivered_to_mailbox
                - delivered_to_safe_place
                - delivered_to_pickup_point
                - delivered_other
                - picked_up_from_customer
                - picked_up_unmanned
                - picked_up_from_locker
                - picked_up_other
                - failed_not_home
                - failed_cant_find_address
                - failed_no_parking
                - failed_no_time
                - failed_package_not_available
                - failed_other
                - failed_missing_required_proof
                - failed_payment_not_received
                - unattempted
                description: The state of the delivery.
            required:
            - attempted
            - attemptedAt
            - timeAtStopInfo
            - attemptedLocation
            - driverProvidedInternalNotes
            - driverProvidedRecipientNotes
            - photoUrls
            - recipientProvidedNotes
            - signatureUrl
            - signeeName
            - succeeded
            - state
            additionalProperties: false
            description: The delivery information of the stop.
          - type: 'null'
        paymentOnDelivery:
          anyOf:
          - type: object
            properties:
              amount:
                anyOf:
                - type: integer
                  minimum: 0
                  maximum: 9007199254740991
                - type: 'null'
                description: The amount *in minor units* (e.g. cents) to be collected upon delivery.
              currency:
                type: string
                description: The payment's currency in ISO 4217 standard.
            required:
            - amount
            - currency
            additionalProperties: false
            description: The payment due upon delivery also known as "Cash on Delivery".
          - type: 'null'
        proofOfAttemptRequirements:
          type: object
          properties:
            enabled:
              anyOf:
              - type: boolean
              - type: 'null'
              description: Whether the proof of attempt is enabled.This only works if the team subscription has access to proof of delivery
          required:
          - enabled
          additionalProperties: false
          description: The proof of attempt requirements of the stop.
        plan:
          allOf:
          - $ref: '#/components/schemas/planIdSchema'
          description: The id of the plan, in the format `plans/<id>`.
        route:
          anyOf:
          - $ref: '#/components/schemas/routeSchema'
          - type: 'null'
          description: The route of the stop, if any.
        eta:
          oneOf:
          - type: object
            properties:
              status:
                type: string
                enum:
                - available
              value:
                type: object
                properties:
                  estimatedArrivalAt:
                    type: number
                    description: The estimated time in seconds since epoch.
                  estimatedLatestArrivalAt:
                    type: number
                    description: The latest estimated time in seconds since epoch.
                  estimatedEarliestArrivalAt:
                    type: number
                    description: The earliest estimated time in seconds since epoch.
                required:
                - estimatedArrivalAt
                - estimatedLatestArrivalAt
                - estimatedEarliestArrivalAt
                additionalProperties: false
                description: The estimated time of arrival data of the stop.
            required:
            - status
            - value
            additionalProperties: false
          - type: object
            properties:
              status:
                type: string
                enum:
                - restricted
              requiredFeature:
                type: string
              upgradeUrl:
                type: string
              restrictionCode:
                type: string
                enum:
                - subscription_not_supported
            required:
            - status
            additionalProperties: false
          - type: object
            properties:
              status:
                type: string
                enum:
                - pending
              pendingReason:
                type: string
                enum:
                - not_optimized
            required:
            - status
            additionalProperties: false
        timing:
          type: object
          properties:
            estimatedAttemptDuration:
              anyOf:
              - type: number
              - type: 'null'
              description: Time that the driver estimates to spend on the stop to do his job (deliver a parcel, visit a client, etc) in seconds.
            earliestAttemptTime:
              anyOf:
              - $ref: '#/components/schemas/timeOfDaySchema'
              - type: 'null'
              description: The earliest time that the driver should arrive at the stop
            latestAttemptTime:
              anyOf:
              - $ref: '#/components/schemas/timeOfDaySchema'
              - type: 'null'
              description: The latest time that the driver should arrive at the stop.
          required:
          - estimatedAttemptDuration
          - earliestAttemptTime
          - latestAttemptTime
          additionalProperties: false
          description: The timing data of the stop.
        optimizationOrder:
          default: default
          type: string
          enum:
          - first
          - last
          - default
        customProperties:
          anyOf:
          - type: object
            propertyNames:
              type: string
            additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
          - type: 'null'
          description: Custom properties of the stop, can be used to store additional information.
        clientId:
          anyOf:
          - type: string
          - type: 'null'
          description: The associated Client ID of the Spoke Connect
        serviceInfo:
          oneOf:
          - type: object
            properties:
              status:
                type: string
                enum:
                - available
              value:
                anyOf:
                - type: object
                  properties:
                    identifier:
                      type: string
                      description: The service offering identifier, as configured in Spoke Dispatch, captured at assignment time. Not currently discoverable through the public API.
                    name:
                      type: string
                      description: The human-readable service name.
                    slaStartsAt:
                      type: number
                      description: The SLA start time in seconds since epoch.
                    slaDueDate:
                      type: object
                      properties:
                        day:
                          type: integer
                          minimum: 1
                          maximum: 31
                          description: The day of the date.
                        month:
                          type: integer
                          minimum: 1
                          maximum: 12
                          description: The month of the date.
                        year:
                          type: integer
                          minimum: 2000
                          maximum: 2100
                          description: The year of the date.
                      required:
                      - day
                      - month
                      - year
                      additionalProperties: false
                      description: The computed SLA due date in the team's timezone.
                    slaDueTime:
                      anyOf:
                      - $ref: '#/components/schemas/timeOfDaySchema'
                      - type: 'null'
                      description: SLA due time-of-day in the team's timezone, null for day-level SLA.
                    deliveryHorizon:
                      type: object
                      properties:
                        unit:
                          anyOf:
                          - type: string
                            enum:
                            - days
                            - hours
                          - type: string
                          description: 'The time unit of the delivery horizon. Known: `days`, `hours`.'
                        value:
                          type: number
                          description: The number of time units in the delivery horizon.
                      required:
                      - unit
                      - value
                      additionalProperties: false
                      description: The delivery horizon for this service.
                    price:
                      type: object
                      properties:
                        value:
                          type: number
                          description: Price in minor currency units (e.g. cents).
                        currency:
                          anyOf:
                          - type: string
                            enum:
                            - AED
                            - ARS
                            - AUD
                            - BRL
                            - CAD
                            - CHF
                            - CLP
                            - CNY
                            - COP
                            - DKK
                            - EGP
                            - EUR
                            - GBP
                            - HKD
                            - HUF
                            - ILS
                            - INR
                            - JPY
                            - KRW
                            - MYR
                            - MXN
                            - NOK
                            - NZD
                            - PEN
                            - RON
                            - RUB
                            - SAR
                            - SEK
                            - SGD
                            - TRY
                            - USD
                            - UYU
                            - ZAR
                          - type: string
                          description: 3-letter ISO 4217 currency code.
                      required:
                      - value
                      - currency
                      additionalProperties: false
                      description: Price for this service at assignment time.
                    hasPaymentOnDelivery:
                      type: boolean
                      description: Whether cash on delivery is enabled via the service.
                    definedAt:
                      type: number
                      description: When the service was assigned in seconds since epoch.
                  required:
                  - identifier
                  - name
                  - slaStartsAt
                  - slaDueDate
                  - slaDueTime
                  - deliveryHorizon
                  - price
                  - hasPaymentOnDelivery
                  - definedAt
                  additionalProperties: false
                  description: Service offering data when a service is assigned to the stop.
                - type: object
                  properties:
                    identifier:
                      type: 'null'
                      description: Null indicates no service offering is linked.
                    slaStartsAt:
                      type: number
                      description: The SLA start time in seconds since epoch.
                  required:
                  - identifier
                  - slaStartsAt
                  additionalProperties: false
                  description: Service data when only an SLA start time is set.
                description: Service offering data for this stop.
            required:
            - status
            - value
            additionalProperties: false
          - type: object
            properties:
              status:
                type: string
                enum:
                - empty
            required:
            - status
            additionalProperties: false
          - type: object
            properties:
              status:
                type: string
                enum:
                - restricted
              requiredFeature:
                type: string
              upgradeUrl:
                type: string
              restrictionCode:
                type: string
                enum:
                - subscription_not_supported
            required:
            - status
            additionalProperties: false
          description: Service offering data for this stop.
      required:
      - id
      - address
      - barcodes
      - allowedDrivers
      - estimatedTravelDuration
      - estimatedTravelDistance
      - notes
      - packageCount
      - weight
      - type
      - packageLabel
      - stopPosition
      - trackingLink
      - webAppLink
      - orderInfo
      - placeInVehicle
      - recipient
      - deliveryInfo
      - paymentOnDelivery
      - proofOfAttemptRequirements
      - plan
      - route
      - eta
      - timing
      - customProperties
      - clientId
      - serviceInfo
      additionalProperties: false
      description: A stop of a plan, can be related to a route.
    routeIdSchema:
      type: string
      pattern: ^routes\/[a-zA-Z0-9---_]{1,50}$
    driverIdSchema:
      type: string
      pattern: ^drivers\/[a-zA-Z0-9---_]{1,50}$
    timeOfDaySchema:
      type: object
      properties:
        hour:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
          description: Hour of the day
        minute:
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
          description: Minute of the hour
      required:
      - hour
      - minute
      additionalProperties: false
      description: Time of day in hours and minutes. Uses a 24 hour clock.
    stopIdSchema:
      type: string
      pattern: ^plans\/[a-zA-Z0-9---_]{1,50}\/stops\/[a-zA-Z0-9---_]{1,50}$
    routeSchema:
      type: object
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/routeIdSchema'
          description: The id of the route, in the format `routes/<id>`.
        title:
          type: string
          description: The title of the route.
        stopCount:
          type: number
          description: The number of stops in the route.
        driver:
          anyOf:
          - $ref: '#/components/schemas/driverIdSchema'
          - type: 'null'
          description: The id of the driver.
        state:
          anyOf:
          - type: object
            properties:
              completed:
                type: boolean
                description: Whether the route is completed.
              completedAt:
                anyOf:
                - type: number
                - type: 'null'
                description: The timestamp the route was completed at.
              distributed:
                type: boolean
                description: Whether the route is distributed.
              distributedAt:
                anyOf:
                - type: number
                - type: 'null'
                description: The timestamp the route was distributed at.
              notifiedRecipients:
                type: boolean
                description: Whether the recipients were notified.
              notifiedRecipientsAt:
                anyOf:
                - type: number
                - type: 'null'
                description: The timestamp the recipients were notified at.
              started:
                type: boolean
                description: Whether the route is started.
              startedAt:
                anyOf:
                - type: number
                - type: 'null'
                description: The timestamp the route was started at.
            required:
            - completed
            - completedAt
            - distributed
            - distributedAt
            - notifiedRecipients
            - notifiedRecipientsAt
            - started
            - startedAt
            additionalProperties: false
            description: The state of a route.
          - type: 'null'
          description: The state of the route.
        plan:
          anyOf:
          - $ref: '#/components/schemas/planIdSchema'
          - type: 'null'
          description: The id of the related plan.
      required:
      - id
      - title
      - stopCount
      - driver
      - state
      - plan
      additionalProperties: false
      description: A route.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Use the API key as the username and leave the password empty.
